{{ form_start(form) }}
<div class="row">
   <div class="col-12 col-xl-6">
      <div class="card">
         <div class="card-header">
            Informations générales
            {% set headerBtns %}
               <div class="card-header-options">
                  {{ submit() }}
                  {{ back(path('admin_user_index')) }}
               </div>
            {% endset %}
            {{ headerBtns }}
         </div>
         <div class="card-body">
            {% if form.lastname is defined %}
               {{ form_row(form.lastname) }}
            {% endif %}
            {% if form.firstname is defined %}
               {{ form_row(form.firstname) }}
            {% endif %}
            {% if form.jobName is defined %}
               {{ form_row(form.jobName) }}
            {% endif %}
            {% if form.email is defined %}
               {{ form_row(form.email) }}
            {% endif %}
            {% if form.phone is defined %}
               {{ form_row(form.phone) }}
            {% endif %}
            {% if form.color is defined %}
               {{ form_row(form.color) }}
            {% endif %}
            {% if form.plainPassword is defined %}
               {{ form_row(form.plainPassword) }}
            {% endif %}
            {% if form.repeatPlainPassword is defined %}
               {{ form_row(form.repeatPlainPassword) }}
            {% endif %}
            {% if form.active is defined %}
               {{ form_row(form.active) }}
            {% endif %}
         </div>
         <div class="card-footer">
            <button class="{{ HTML.btnSave('sm') }}">Enregistrer</button>
            <a href="{{ path('admin_user_index') }}" class="{{ HTML.btnBack }}">Retour</a>
         </div>
      </div>
   </div>
</div>
{{ form_end(form) }}
<input type="hidden" id="js-update-user" value="{{ user.token }}">
