{% extends 'admin/template.html.twig' %}
{% block pageName %}
    {{ user.name }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_user_index') }}">Utilisateurs</a></li>
    <li class="breadcrumb-item-to-delete">{{ user.name }}</li>
{% endblock %}

{% block breadcrumbButtons %}
    <button class="{{ HTML.btnSave('xs') }} js-btn-submit">Enregistrer</button>
    {% include 'admin/user/_delete_form.html.twig' with {size: 'xs', isIcon: false} %}
{% endblock %}

{% block body %}
    {{ include('admin/user/_form.html.twig') }}
{% endblock %}
