{% extends 'admin/template.html.twig' %}
{% block pageName %}
   Liste des utilisateurs
{% endblock %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete active">Utilisateurs</li>
{% endblock %}
{% block breadcrumbButtons %}
   <a href="{{ path('admin_user_new') }}" class="{{ HTML.btnAdd('xs') }}">Créer</a>
{% endblock %}

{% block body %}
   <div class="card">
      <div class="card-header">Utilisateurs ({{ users|length }})</div>
      <div class="card-body">
         <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
               <thead>
                  <tr>
                     <th>Nom</th>
                     <th>Fonction</th>
                     <th>Email</th>
                     <th>Téléphone</th>
                     <th class="text-center">Actif</th>
                     <th>Options</th>
                  </tr>
               </thead>
               <tbody>
                  {% for user in users %}
                     <tr>
                        <td>
                           <a href="{{ path('admin_user_edit', {token: user.token}) }}"
                                   {% if not user.active %}
                                      data-bs-toggle="tooltip"
                                      title="Non visible sur le site Internet"
                                      data-bs-placement="right"
                                      class="text-danger"
                                   {% endif %}
                           >
                              {% if not user.active %}
                                 <i class="ri-alarm-warning-line"></i>
                              {% endif %}
                              {{ user.name(true) }}
                           </a>
                        </td>
                        <td>{{ user.jobName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone|phone }}</td>
                        <td class="min text-center pl20 pr20">{{ user.active|yesNo(false) }}</td>
                        <td class="min">
{#                           {{ show(path('admin_user_show', {token: user.token})) }}#}
                           {{ update(path('admin_user_edit', {token: user.token})) }}
                           {% include 'admin/user/_delete_form.html.twig' with {size: 'xs'} %}
                        </td>
                     </tr>
                  {% else %}
                     <tr>
                        <td colspan="20">Aucun utilisateur</td>
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
            {{ knp_pagination_render(users) }}
         </div>
      </div>
   </div>
{% endblock %}
