{% extends 'admin/template.html.twig' %}
{% block breadcrumb %}
    <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_user_index') }}">Utilisateurs</a></li>
    <li class="breadcrumb-item-to-delete active">Nouvel utilisateur</li>
{% endblock %}

{% block body %}
    {{ include('admin/user/_form.html.twig') }}
{% endblock %}
