{% extends 'admin/template.html.twig' %}
{% block pageName %}
   {{ user.name }}
{% endblock %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_user_index') }}">Utilisateurs</a></li>
   <li class="breadcrumb-item-to-delete active">{{ user.name }}</li>
{% endblock %}
{% block breadcrumbButtons %}
   {{ include('admin/user/_delete_form.html.twig', {isIcon: false}) }}
{% endblock %}

{% block body %}
   <div class="row">
      <div class="col-12 col-xl-4">
         <div class="card">
            <div class="card-header">Informations générales</div>
            <div class="card-body">
               <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover">
                     <thead>
                        <tr>
                           <th class="min pr40">Intitulé</th>
                           <th>Réponse</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td class="bold">Nom</td>
                           <td>{{ user.name }}</td>
                        </tr>
                        <tr>
                           <td class="bold">Email</td>
                           <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                           <td class="bold">Téléphone</td>
                           <td>{{ user.phone|phone }}</td>
                        </tr>
                        <tr>
                           <td class="bold">Actif</td>
                           <td>{{ user.active|yesNo }}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="card-footer">
               <a href="{{ path('admin_user_edit', {token: user.token}) }}" class="{{ HTML.btnUpdate }}">Modifier</a>
               <a href="{{ path('admin_user_index') }}" class="{{ HTML.btnBack }}">Retour</a>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
