{% set footerBtns %}
   <div class="card-footer">
      {{ submit(false) }}
      {{ submit(false, false) }}
      <a href="{{ path('admin_product_type_index') }}" class="{{ HTML.btnBack }}">Retour</a>
   </div>
{% endset %}
{{ form_start(form) }}
<div class="row">
   <div class="col-12 col-xl-6">
      <div class="card">
         <div class="card-header">
            Informations générales
            {% set headerBtns %}
               <div class="card-header-options">
                  {{ submit() }}
                  {% if productType.id %}
                     {{ visit(path('front_product_type', {typeSlug: productType.url})) }}
                  {% endif %}
                  {{ back(path('admin_product_type_index')) }}
               </div>
            {% endset %}
            {{ headerBtns }}
         </div>
         <div class="card-body">
            {{ form_row(form.name) }}
            {{ form_row(form.baseline) }}
            {{ form_row(form.text) }}
            {{ form_row(form.active) }}
         </div>
         {{ footerBtns }}
      </div>
   </div>

   <div class="col-12 col-xl-6">
      <div class="card">
         <div class="card-header">
            Image de fond
            {{ headerBtns }}
         </div>
         <div class="card-body">
            {{ form_row(form.background) }}
            <img src="{{ asset(productType.background)|imagine_filter('thumb') }}" class="h100">
         </div>
         {{ footerBtns }}
      </div>
      <div class="card">
         <div class="card-header">
            Référencement
            {{ headerBtns }}
         </div>
         <div class="card-body">
            {{ form_row(form.sliderTitle) }}
            {{ form_row(form.metaTitle) }}
            {{ form_row(form.metaDescription) }}
            {{ form_row(form.metaKeywords) }}
         </div>
         {{ footerBtns }}
      </div>
   </div>
</div>
{{ form_end(form) }}
