<table class="table table-bordered table-striped table-hover">
   <thead>
      <tr>
         <th>Nom</th>
         <th>Url</th>
         <th>Accroche</th>
         <th>Biens actifs</th>
         <th class="text-center">Actif</th>
         <th>Options</th>
      </tr>
   </thead>
   <tbody>
      {% for productType in productTypes %}
         <tr>
            <td>
               <a href="{{ path('admin_product_type_edit', {token: productType.token}) }}"
                       {% if not productType.active %}
                          data-bs-toggle="tooltip"
                          title="Non visible sur le site Internet"
                          data-bs-placement="right"
                          class="text-danger"
                       {% endif %}
               >
                  {% if not productType.active %}
                     <i class="ri-alarm-warning-line"></i>
                  {% endif %}
                  {{ productType.name }}
               </a>
            </td>
            <td>
               <a href="{{ path('front_product_type', {typeSlug: productType.url}) }}" target="_blank">
                  /{{ productType.url }}
               </a>
            </td>
            <td>{{ productType.baseline }}</td>
            <td class="min text-center">{{ productType.products(true)|length }}</td>
            <td class="min text-center pl20 pr20">{{ productType.active|yesNo(false) }}</td>
            <td class="min">
{#               {{ show(path('admin_product_type_show', {token: productType.token})) }}#}
               {{ update(path('admin_product_type_edit', {token: productType.token})) }}
               {{ visit(path('front_product_type', {typeSlug: productType.url})) }}
               {% include 'admin/productType/_delete_form.html.twig' with {size: 'xs'} %}
            </td>
         </tr>
      {% else %}
         <tr>
            <td colspan="20">Aucun type de bien</td>
         </tr>
      {% endfor %}
   </tbody>
</table>
