{% extends 'admin/template.html.twig' %}
{% block pageName %}
   Liste des types de bien
{% endblock %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete active">Types de bien</li>
{% endblock %}
{% block breadcrumbButtons %}
   <a href="{{ path('admin_product_type_new') }}" class="{{ HTML.btnAdd('xs') }}">Créer</a>
{% endblock %}

{% block body %}
   <div class="card">
      <div class="card-header">Types de bien ({{ productTypes|length }})</div>
      <div class="card-body">
         <div class="table-responsive">
            {% include 'admin/productType/_index.html.twig' %}
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header yellow">Informations</div>
      <div class="card-body">
         <div>Les types de bien permettent une classification des biens.</div>
         <div>Sur le site Internet, chaque type de bien est automatiquement ajouté en tant que menu (actuellement, entre Accueil et Contact).</div>
         <div>A l'intérieur de ces pages, on y retrouve ainsi tous les biens liés au type sur lequel on est.</div>
         <div>Un type de bien n'ayant aucun bien ou aucun bien actif est tout de même affiché sur le site.</div>
      </div>
   </div>
{% endblock %}
