{% extends 'admin/template.html.twig' %}
{% block pageName %}
   {{ productType.name }}
{% endblock %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_product_type_index') }}">Types de bien</a></li>
   <li class="breadcrumb-item-to-delete active">{{ productType.name }}</li>
{% endblock %}
{% block breadcrumbButtons %}
   {{ include('admin/productType/_delete_form.html.twig', {isIcon: false}) }}
{% endblock %}

{% block body %}
   <div class="row">
      <div class="col-12 col-xl-4">
         <div class="card">
            <div class="card-header">
               Informations générales
               <div class="card-header-options">
                  {% if productType.id %}
                     <a href="{{ path('front_product_type', {typeSlug: productType.url}) }}"
                        class="btn btn-xs btn-outline-secondary float-end"
                        target="_blank"
                     >
                        Voir la page
                     </a>
                  {% endif %}
               </div>
            </div>
            <div class="card-body">
               <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover">
                     <thead>
                        <tr>
                           <th class="min pr40">Intitulé</th>
                           <th>Réponse</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td class="bold">Nom</td>
                           <td>{{ productType.name }}</td>
                        </tr>
                        <tr>
                           <td class="bold">Url</td>
                           <td>/{{ productType.url }}</td>
                        </tr>
                        <tr>
                           <td class="bold">Actif</td>
                           <td>{{ productType.active|yesNo }}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="card-footer">
               <a href="{{ path('admin_product_type_edit', {token: productType.token}) }}" class="{{ HTML.btnUpdate }}">Modifier</a>
               <a href="{{ path('admin_product_type_index') }}" class="{{ HTML.btnBack }}">Retour</a>
            </div>
         </div>
      </div>

      <div class="col-12 col-xl-8">
         <div class="card">
            <div class="card-header">Biens rattachés</div>
            <div class="card-body">
               <div class="table-responsive">
                  {% include 'admin/product/_index.html.twig' with {
                     products: productType.products,
                     displayType: false,
                     displayUrl: false,
                     isFromProductType: true
                  } %}
               </div>
            </div>
            <div class="card-footer">
               <a href="{{ path('admin_product_type_edit', {token: productType.token}) }}" class="{{ HTML.btnUpdate }}">Modifier</a>
               <a href="{{ path('admin_product_type_index') }}" class="{{ HTML.btnBack }}">Retour</a>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
