{% extends 'admin/template.html.twig' %}

{% block pageName %}
    {{ question.name }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_question_index') }}">Questions</a></li>
    <li class="breadcrumb-item-to-delete">{{ question.name }}</li>
{% endblock %}

{% block breadcrumbButtons %}
    <button class="{{ HTML.btnSave('xs') }} js-btn-submit">Enregistrer</button>
    {% include 'admin/question/_delete_form.html.twig' with {size: 'xs', isIcon: false} %}
{% endblock %}

{% block body %}
    {{ include('admin/question/_form.html.twig') }}
{% endblock %}
