{% extends 'admin/template.html.twig' %}
{% block pageName %}Questions{% endblock %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete active">Questions</li>
{% endblock %}
{% block breadcrumbButtons %}
   <a href="{{ path('admin_question_new') }}" class="{{ HTML.btnAdd('xs') }}">Créer</a>
{% endblock %}

{% block body %}
   <div class="card">
      <div class="card-header">Questions</div>
      <div class="card-body">
         <table class="table table-striped table-bordered table-hover">
            <thead>
               <tr>
                  <th>Nom</th>
                  <th>Options</th>
               </tr>
            </thead>
            <tbody>
               {% for question in questions %}
                  <tr>
                     <td>
                        <a href="{{ path('admin_question_edit', {token: question.token}) }}">
                           {{ question.name }}
                        </a>
                     </td>
                     <td class="min">
{#                        {{ show(path('admin_question_show', {token: question.token})) }}#}
                        {{ update(path('admin_question_edit', {token: question.token})) }}
                        <form class="d-inline-block" method="post" action="{{ path('admin_question_delete', {token: question.token}) }}">
                           <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
                           {{ delete() }}
                        </form>

                     </td>
                  </tr>
               {% else %}
                  <tr>
                     <td colspan="20">Aucune question</td>
                  </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
{% endblock %}
