{% extends 'admin/template.html.twig' %}
{% block breadcrumb %}
    <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_question_index') }}">Questions</a></li>
    <li class="breadcrumb-item-to-delete active">Nouvelle question</li>
{% endblock %}

{% block body %}
    {% include 'admin/question/_form.html.twig' %}
{% endblock %}
