<!DOCTYPE html>

<title>ProductQuestion</title>

{% block body %}
    <h1>ProductQuestion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ question.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_question_index') }}">back to list</a>

    <a href="{{ path('admin_question_edit', {token: question.token}) }}">edit</a>

    {{ include('admin/question/_delete_form.html.twig') }}
{% endblock %}
