{% extends 'admin/template.html.twig' %}
{% block pageName %}
   Mon profil
{% endblock %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete active">Mon profil</li>
{% endblock %}

{% block body %}
   {{ include('admin/user/_form.html.twig') }}
{% endblock %}
