{% extends 'admin/email/template_email.html.twig' %}

{% block body %}
   <div class="margin2 center">
      <div class="bold">
         Un nouveau contact vient de laisser<br>un message sur le formulaire.
      </div>
   </div>
   <div class="center">
      <div class="margin1">
         <div class="bold">Nom</div>
         <div>{{ customer.name }}</div>
      </div>
      <div class="margin1">
         <div class="bold">Téléphone</div>
         <div>{{ customer.phone|phone }}</div>
      </div>
      <div class="margin1">
         <div class="bold">Email</div>
         <div>{{ customer.email }}</div>
      </div>
      <div class="margin1">
         <div class="bold">Message</div>
         <div class="">{{ customer.text }}</div>
      </div>
   </div>

   {#   <table> #}
   {#      <tr> #}
   {#         <th>Nom</th> #}
   {#         <td>{{ customer.name }}</td> #}
   {#      </tr> #}
   {#      <tr> #}
   {#         <th>Téléphone</th> #}
   {#         <td>{{ customer.phone|phone }}</td> #}
   {#      </tr> #}
   {#      <tr> #}
   {#         <th>Email</th> #}
   {#         <td>{{ customer.email }}</td> #}
   {#      </tr> #}
   {#      <tr> #}
   {#         <th colspan="2">Message</th> #}
   {#      </tr> #}
   {#      <tr> #}
   {#         <td colspan="2">{{ customer.text }}</td> #}
   {#      </tr> #}
   {#   </table> #}
{% endblock %}
