{% block _product_available_row %}
   <div class="{{ HTML.marginForm }}">
      <label class="form-label bold">Disponible ?</label>
      <div class="">{{ form_widget(form, { 'label': 'Oui' }) }}</div>
   </div>
{% endblock %}
{% block _product_city_row %}
   <div class="mb30 position-relative">
      {{ form_row(form) }}
      <div id="city-results" class="d-none"></div>
   </div>
{% endblock %}
{% block _product_features_row %}
   <div class="{{ HTML.marginForm }}">
      <label class="form-label bold">Caractéristiques</label>
      <div class="">{{ form_widget(form) }}</div>
   </div>
{% endblock %}
{% block active_row %}
   <div class="form-check">
      <label class="form-label bold">Visible sur le site Internet ?</label>
      <div class="">{{ form_widget(form, { 'label': 'Oui', 'attr': {'class': 'fwn'} }) }}</div>
   </div>
{% endblock %}

{% block _user_color_row %}
<div class="{{ HTML.marginForm }}">
   <label class="form-label bold">Couleur</label>
   {{ form_widget(form, {type: 'color'}) }}
   <div class="d-block text-right mt5">
      <div class="fl pointer fs12 color-9 js-reset-color" data-color="#2980B9">2980B9</div>
      <span class="fr pointer fs12 color-9 js-reset-color d-none" data-color="{{ form.vars.value }}">Réinitialiser</span>
      <input type="hidden" id="js-active-user" value="{{ USER.activeUser.token }}">
      <div class="clear"></div>
   </div>
</div>
{% endblock %}

