{% set debugs = SESSION.get('DEBUG') %}
{% if not ENV.isProd and debugs|length %}
   <div class="m30 mb0">
   {% for debug in debugs %}
      <div class="debug"><pre>{% if debug.comment %}<div class="comment">› {{ debug.comment -}}</div>{% endif %}{{- debug.text|prArray -}}</pre></div>
   {% endfor %}
   </div>
{% endif %}
