{% extends 'admin/template.html.twig' %}

{% block body %}
   <div class="d-flex justify-content-center">
      <div class="col col-lg-6">
         <div class="card">
            <div class="card-header">Erreur</div>
            <div class="card-body">
               <div class="fs24">Oups !</div>
               <div>Une erreur 404 s'est produite.</div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
