{% set flashes = app.flashes %}
{% if flashes|length %}
   {% for label, messages in flashes %}
      {% for message in messages %}
         <div class="alert alert-popin alert-{{ label }}">{{ message|raw }}</div>
      {% endfor %}
   {% endfor %}
{% endif %}
