<header class="js-change-color">
   <div id="logo" class="{{ CONF.getHamburger ? 'open' : '' }}">
      <a href="{{ path('admin_index') }}">ARTEMYS</a>
   </div>
   <div id="header-content">
      <div id="hamburger" class="{{ CONF.getHamburger }}">
         <i class="ri-menu-fill"></i>
      </div>
      <div id="software-search">
         <div id="software-search-content">
            <input type="text" id="software-search-text" class="form-control" placeholder="Recherche"
                   title="Recherche (nom, code client, code contrat, email, téléphone, chiffrages, avenants, ...)">
         </div>
         <div id="software-search-icon">
            <i class="fas fa-search" id="software-search-icon-i"></i>
            <i class="spinner-border none" id="software-search-icon-spinner"></i>
         </div>
         <div id="software-results" class="none"></div>
      </div>
   </div>
   <div id="header-menu">
      <ul>
         {#         <li><span id="js-check-token"><i class="ri-hashtag"></i></span></li> #}
         <li class="not-hover"><span id="js-window-size-info"></span></li>
         <li>
            <span class="js-btn-window-size" id="js-btn-window-size-down" data-direction="down" title="Diminuer la résolution">
               <i class="ri-fullscreen-exit-line"></i>
            </span>
         </li>
         <li>
            <span class="js-btn-window-size" id="js-btn-window-size-up" data-direction="up" title="Augmenter la résolution">
               <i class="ri-fullscreen-line"></i>
            </span>
         </li>
         <li><a href="{{ path('front_index') }}" target="_blank" title="Aller sur le site Internet"><i class="ri-ie-line"></i></a></li>
         <li><a href="{{ path('admin_logout') }}" title="Déconnexion"><i class="ri-logout-circle-line"></i></a></li>
      </ul>
   </div>
</header>
