{% extends 'admin/template.html.twig' %}
{% block pageName %}
   Accueil
{% endblock %}
{% set col = 'col-12 col-md-6 col-lg-4 col-xxl-3' %}

{% block body %}
   <div class="card">
      <div class="card-header">Bienvenue</div>
      <div class="card-body">
         Bienvenue sur l'espace d'administration du site Internet ARTEMYS Investissement.
      </div>
   </div>

   {# <div class="row text-center"> #}
   {#   <div class="{{ col }}"> #}
   {#      <div class="card"> #}
   {#         <div class="card-header">Nombre de biens</div> #}
   {#         <div class="card-body"> #}
   {#            <div class="fs24 js-counter">2000</div> #}
   {#         </div> #}
   {#      </div> #}
   {#   </div> #}
   {#   <div class="{{ col }}"> #}
   {#      <div class="card"> #}
   {#         <div class="card-header">Nombre de biens</div> #}
   {#         <div class="card-body"> #}
   {#            <div class="fs24 js-counter">5800</div> #}
   {#         </div> #}
   {#      </div> #}
   {#   </div> #}
   {#   <div class="{{ col }}"> #}
   {#      <div class="card"> #}
   {#         <div class="card-header">Nombre de biens</div> #}
   {#         <div class="card-body"> #}
   {#            <div class="fs24 js-counter">37400</div> #}
   {#         </div> #}
   {#      </div> #}
   {#   </div> #}
   {# </div> #}

   <div class="row text-center">
      <div class="{{ col }}">
         <div class="card">
            <div class="card-header">Nombre de biens</div>
            <div class="card-body">
               <div class="fs24 js-counter">{{ nbProducts }}</div>
            </div>
         </div>
      </div>
      <div class="{{ col }}">
         <div class="card">
            <div class="card-header">Nombre de types de bien</div>
            <div class="card-body">
               <div class="fs24 js-counter">{{ nbProductTypes }}</div>
            </div>
         </div>
      </div>
      <div class="{{ col }}">
         <div class="card">
            <div class="card-header">Nombre de contacts</div>
            <div class="card-body">
               <div class="fs24 js-counter">{{ nbContacts }}</div>
            </div>
         </div>
      </div>
      <div class="{{ col }}">
         <div class="card">
            <div class="card-header">Nombre de caractéristiques</div>
            <div class="card-body">
               <div class="fs24 js-counter">{{ nbFeatures }}</div>
            </div>
         </div>
      </div>
      <div class="{{ col }}">
         <div class="card">
            <div class="card-header">Nombre de questions</div>
            <div class="card-body">
               <div class="fs24 js-counter">{{ nbQuestions }}</div>
            </div>
         </div>
      </div>
      <div class="{{ col }}">
         <div class="card">
            <div class="card-header">Nombre de partenaires</div>
            <div class="card-body">
               <div class="fs24 js-counter">{{ nbPartners }}</div>
            </div>
         </div>
      </div>
   </div>

   {% if ENV.isLocal %}
      <div class="row">
         <div class="col-6">
            <div class="card">
               <div class="card-header">No tab</div>
               <div class="card-body minh500">
                  Bienvenue sur l'espace d'administration du site Internet ARTEMYS Investissement.
               </div>
            </div>
         </div>
         <div class="col-6">
            <div class="card card-tab">
               <div class="card-header">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                     <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home">
                           Home
                        </button>
                     </li>
                     <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile">
                           Profile
                        </button>
                     </li>
                     <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact">
                           No tabs
                        </button>
                     </li>
                     <li class="nav-item" role="presentation">
                        <a href="{{ path('admin_product_index') }}" class="nav-link">
                           Biens
                        </a>
                     </li>
                     <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact">
                           Last
                        </button>
                     </li>
                  </ul>
               </div>
               <div class="card-body tab-content minh500" id="myTabContent">
                  <div class="tab-pane show active" id="home">HOME content</div>
                  <div class="tab-pane" id="profile">PROFILE content</div>
                  <div class="tab-pane" id="contact">CONTACT content</div>
               </div>
            </div>
         </div>
      </div>

      <div class="card card-tab">
         <div class="card-header">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
               <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home">
                     Home
                  </button>
               </li>
               <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile">
                     Profile
                  </button>
               </li>
               <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact">
                     No tabs
                  </button>
               </li>
               <li class="nav-item" role="presentation">
                  <a href="{{ path('admin_product_index') }}" class="nav-link">
                     Biens
                  </a>
               </li>
               <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact">
                     Last
                  </button>
               </li>
            </ul>
         </div>
         <div class="card-body tab-content minh500" id="myTabContent">
            <div class="tab-pane show active" id="home">HOME content</div>
            <div class="tab-pane" id="profile">PROFILE content</div>
            <div class="tab-pane" id="contact">CONTACT content</div>
         </div>
      </div>

      <div class="card">
         <div class="card-header">Boutons</div>
         <div class="card-body">
            {% for sizeName, size in buttons %}
               <div class="mb10">
                  {% for type in size %}
                     <div class="mb10">
                        {% for color in type %}
                           <button class="{{ color.class }} mr5">Exemple</button>
                        {% endfor %}
                     </div>
                  {% endfor %}
               </div>
            {% endfor %}
         </div>
      </div>
   {% endif %}
{% endblock %}
