<nav class="{{ CONF.getHamburger ? 'open' : '' }}">
   <div id="nav-user">
      <div id="nav-user-name">{{ USER.name }}</div>
      <div id="nav-user-function">{{ USER.jobName }}&nbsp;</div>
{#      <div class="fl" id="nav-user-logout"><a href="{{ path('app_logout') }}">Déconnexion</a></div>#}
      <div class="fs12"><a href="{{ path('admin_profil') }}">Mon profil</a></div>
      <div class="clear"></div>
   </div>
   <div id="nav-content">
      <div id="nav-content-title">NAVIGATION</div>
      <div id="nav-menu">
         <ul>
             {% include 'admin/nav_menu.html.twig' with {navMenus: MENU.getMenus} %}
         </ul>
      </div>
   </div>
</nav>
