{% for menu in navMenus %}
   <li class="{{ menu.class }}">
      <a href="{{ menu.link ? menu.link : 'javascript:void(0);' }}">
         {% if menu.icon %}
            <i class="{{- menu.icon -}}"></i>
         {% endif %}
         {{- menu.name -}}
         {% if menu.children|length %}
            <span class="arrow"></span>
         {% endif %}
      </a>
      {% if menu.children|length %}
         <ul>
            {% include 'admin/nav_menu.html.twig' with {navMenus: menu.children} %}
         </ul>
      {% endif %}
   </li>
{% endfor %}
