<div class="card" id="js-search">
   <div class="card-header yellow">
      Recherche
      <div class="card-header-options">
         <button type="button" class="{{ HTML.btnDelete('xs') }}" id="js-search-delete">
            <i class="ri-close-line"></i>
         </button>
      </div>
   </div>
   <div class="card-body">
      {% if nbResults %}
         <div class="bold mb20">
            {{ nbResults}} résultat{{ nbResults > 1 ? 's' : '' }} avec la recherche "<span class="text-primary">{{ search }}</span>"
         </div>
         <table class="table table-bordered table-striped table-hover">
            <thead>
               <tr>
                  <th>Nom</th>
                  <th>Type</th>
                  <th>Options</th>
               </tr>
            </thead>
            <tbody>
               {% for product in products %}
                  <tr>
                     <td class="min pr40">
                        <a href="{{ path('admin_product_edit', {token: product.token}) }}">
                           {{ product.name }}
                        </a>
                     </td>
                     <td>Bien</td>
                     <td class="min">
{#                        {{ show(path('admin_product_show', {token: product.token})) }}#}
                        {{ update(path('admin_product_edit', {token: product.token})) }}
                        {{ visit(path('front_product', {typeSlug: product.type.url, productSlug: product.url})) }}
                     </td>
                  </tr>
               {% endfor %}
               {% for productType in productTypes %}
                  <tr>
                     <td class="min pr40">
                        <a href="{{ path('admin_product_type_edit', {token: productType.token}) }}">
                           {{ productType.name }}
                        </a>
                     </td>
                     <td>Type de bien</td>
                     <td class="min">
{#                        {{ show(path('admin_product_type_show', {token: productType.token})) }}#}
                        {{ update(path('admin_product_type_edit', {token: productType.token})) }}
                        {{ visit(path('front_product_type', {typeSlug: productType.url})) }}
                     </td>
                  </tr>
               {% endfor %}
               {% for feature in features %}
                  <tr>
                     <td class="min pr40">
                        <a href="{{ path('admin_feature_edit', {token: feature.token}) }}">
                           {{ feature.name }}
                        </a>
                     </td>
                     <td>Caractéristique</td>
                     <td class="min">
{#                        {{ show(path('admin_feature_show', {token: feature.token})) }}#}
                        {{ update(path('admin_feature_edit', {token: feature.token})) }}
                     </td>
                  </tr>
               {% endfor %}
            </tbody>
         </table>
      {% else %}
         <div class="bold">
            Aucun résultat avec la recherche "<span class="text-primary">{{ search }}</span>"
         </div>
      {% endif %}
   </div>
   {#   <div class="card-body pt0"> #}
   {#      {% if products|length %} #}
   {#         <div class="bold mb5 pt20">Biens</div> #}
   {#         {% include 'admin/product/_index.html.twig' %} #}
   {#      {% endif %} #}
   {#      {% if productTypes|length %} #}
   {#         <div class="bold mb5 pt20">Types de bien</div> #}
   {#         {% include 'admin/productType/_index.html.twig' %} #}
   {#      {% endif %} #}
   {#   </div> #}
</div>
