<div id="sidebar">
   <div id="sidebar-options" class="text-end pb10">
      <button class="{{ HTML.btnBack('xs') }} js-sidebar-btn-close">Fermer</button>
   </div>
   <div id="sidebar-content" class="pb1 text-justify"></div>
</div>




{#      <div class="bold">FILTRES</div>#}
{#      <div class="color-9">#}
{#         <label class="mt10">#}
{#            <input type="checkbox" class="mr5">#}
{#            Laisser ouvert ?#}
{#         </label>#}
{#      </div>#}
{#      <hr class="m0 mt20">#}
{#      <div class="mt20">#}
{#         <div class="bold mb5">Entreprise</div>#}
{#         <select class="form-control">#}
{#            <option>-</option>#}
{#         </select>#}
{#      </div>#}
{#      <div class="mt20">#}
{#         <div class="bold mb5">Pôle</div>#}
{#         <select class="form-control">#}
{#            <option>-</option>#}
{#         </select>#}
{#      </div>#}
{#      <div class="mt20">#}
{#         <div class="bold mb5">Agence</div>#}
{#         <select class="form-control">#}
{#            <option>-</option>#}
{#         </select>#}
{#      </div>#}
{#      <div class="mt20">#}
{#         <div class="bold mb5">Equipe</div>#}
{#         <select class="form-control">#}
{#            <option>-</option>#}
{#         </select>#}
{#      </div>#}
