<style>
    .js-change-color {
        background: {{ CONF.color }};
    }
    #nav-menu li.active a {
        background: {{ CONF.color }};
        border-right-color: {{ CONF.color }};
    }
    .page-item.active .page-link {
        background: {{ CONF.color }};
        border-color: {{ CONF.color }};
    }
    .card-menu {
        border-left:solid 3px {{ CONF.color }};
        border-right:solid 3px {{ CONF.color }};
    }
    .card.card-tab .card-header ul li *.active {
        border-bottom-color: {{ CONF.color }}!important;
        color: {{ CONF.color }}!important;
    }
    .card.card-tab .card-header ul li *.active:after,
    .btn-menu.active:after{
        color: {{ CONF.color }}!important;
    }
</style>
