<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
      <title>{% block title %}ARTEMYS admin{% endblock %}</title>
      <link rel="icon" type="image/png" href="{{ asset('logo_admin.svg') }}">
      {% block stylesheets %}
         {{ encore_entry_link_tags('admin') }}
      {% endblock %}
      {% block cssBundle %}{% endblock %}
      {% block cssPage %}{% endblock %}
      {% include 'admin/style.html.twig' %}
   </head>
   <body>
      {% include 'admin/header.html.twig' %}
      {% include 'admin/nav.html.twig' %}
      <div id="breadcrumb">
         <div id="breadcrumb-content" class="{{ CONF.getHamburger ? 'open' : '' }}">
            <ul>
               <li><a href="{{ path('admin_index') }}">Accueil</a></li>
               {% block breadcrumb %}{% endblock %}
            </ul>
            <div id="breadcrumb-explain">
               {% block breadcrumbExplain %}{% endblock %}
            </div>
            <div id="breadcrumb-buttons">
               {% block breadcrumbButtons %}{% endblock %}
            </div>
         </div>
      </div>
      {% include 'admin/sidebar.html.twig' %}
      <main class="{{ CONF.getHamburger ? 'open' : '' }}">
         <div id="main-container">
            {% include 'admin/debug.html.twig' %}
            {% include 'admin/flash.html.twig' %}
            <div id="search-results"></div>
            <div id="main-content">
               <div id="js-react"></div>
               {% block body %}{% endblock %}
            </div>
         </div>
      </main>
      {#   <input type="hidden" id="env" value="{{ ENV.getVersion }}"> #}
      {#   <input type="hidden" id="isP" value="{{ ENV.isProd }}"> #}
      {#   <input type="hidden" id="isD" value="{{ ENV.isDev }}"> #}
      {#   <input type="hidden" id="isT" value="{{ ENV.isTest }}"> #}
      {#   <input type="hidden" id="isL" value="{{ ENV.isLocal }}"> #}
      {#   <input type="hidden" id="isW" value="{{ USER.isWebmaster }}"> #}
      <input type="hidden" id="js-windowSize" value="{{ CONF.size }}">
      {% block javascripts %}
         {{ encore_entry_script_tags('admin') }}
      {% endblock %}
      <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
      {% block jsBundle %}{% endblock %}
      {% block jsPage %}{% endblock %}
   </body>
</html>
