$white:#eee;

@each $color, $value in $theme-colors {
  .btn-#{$color}, .btn-#{$color}:hover, .btn-#{$color} {
    color:#fff;
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color}{
    background: #fff;
  }
  .btn-outline-#{$color}:hover {
    color:#fff;
  }
}

.btn-white, .btn-outline-white {
  border: solid 1px $white;
  color:#444;
}

.btn-white {
  background: #eee;
}

.btn-outline-white {
  background: #fff;
}

.btn-outline-white:hover, .btn-outline-white.active {
  background: $white;
  border-color: #eee!important;
  //box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, .5)!important;
}

.btn-xs, .btn-group-xs > .btn {
  padding:0.125rem 0.5rem;
  font-size:0.8rem;
  font-size:13px;
}

.btn-sm, .btn-group-sm > .btn {
  padding:0.25rem 1rem;
}

.btn-md, .btn-group-md > .btn {
  padding:0.375rem 1.5rem;
}

.btn-lg, .btn-group-lg > .btn {
  padding:0.5rem 2rem;
}

.btn-xl, .btn-group-xl > .btn {
  padding:0.625rem 3rem;
}

.btn-xxl, .btn-group-xxl > .btn {
  padding:0.75rem 3.5rem;
}

.btn:active{
  color:#fff!important;
}

.btn-menu {
  position: relative;
}
.btn-menu:active{
  color:#444!important;
  border-color: #eee!important;
}

.btn-menu.active:after {
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: "\ea4c";
  position: absolute;
  left: 50%;
  bottom:-45px;
  bottom:-20px;
  width:20px;
  height:20px;
  text-align: center;
  margin:-10px 0 0 -10px;
  color:#ccc;
  font-size: 14px;
  content: "\ea4d";
  font-size: 18px;
  bottom:-13px;
}
