.card {
  background: #fff;
  margin: 0 0 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none;


  .card-header {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    background: #fafcfc;
    position: relative;
    border: none;

    &.pink {
      background: #faf5fc;
    }

    &.green {
      background: #f5fcf5;
    }

    &.blue {
      background: #f5fafc;
    }

    &.red {
      background: #fcf5f5;
    }

    &.yellow {
      background: #fcfcf5;
    }

    &.white {
      background: #fff;
    }

    .card-header-right, .card-header-options, .card-options {
      float: right;
      color: #bbb;
      position: absolute;
      top: 8px;
      right: 8px;
    }

    .card-header-right i {
      font-size: 13px;
      line-height: 20px;
    }
  }

  &.card-tab .card-header {
    padding: 0;

    ul {
      margin: 0;
      padding: 0;
      border: none !important;

      li * {
        position: relative;
        padding: 10px 15px;
        margin: 0;
        border: none !important;
        //border-bottom: solid 1px #eee!important;
        padding: 10px 15px 10px;
        margin-bottom: -1px !important;
        background: none;
        color: #bbb;
        border-radius: 0;
        border-bottom: solid 1px #eee !important;
        margin-bottom: -1px !important;
      }

      li:first-child * {
        border-radius: 5px 0 0 0;
      }

      li *:hover {
        color: #777;
        //background: #fff;
      }

      li *.active {
        border-bottom: solid 1px #ccc !important;
        margin-bottom: -1px !important;
        //background: #f5f7f7;
        //background: #f3f3f3;
        //background: #fff;
        color: #212529;
        //background: #fff;
        //color:#2888b8;
      }

      li *.active:after {
        font-family: 'remixicon' !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        content: "\ea4c";
        position: absolute;
        left: 50%;
        bottom: -45px;
        bottom: -17px;
        width: 20px;
        height: 20px;
        text-align: center;
        margin: -10px 0 0 -10px;
        color: #ccc;
        font-size: 14px;
        font-weight: normal;

        content: "\ea4d";
        font-size: 16px;
        bottom: -15px;
      }
    }
  }

  &.card-tab .tab-content {
    padding: 20px;
  }

  .card-body {
    padding: 20px;
    border: none;
    border-top: solid 1px #eee;
  }

  .card-footer {
    padding: 10px;
    border-top: solid 1px #eee;
    background: none;
  }

  &.card-menu .card-body {
    border-top: none;
  }
}
