#city-results {
  width: 100%;
  margin: 10px 0 0;
  border: solid 1px #ccc;
  border-radius: 3px;

  #city-results-header {
    font-weight: bold;
    padding: 8px;
    background: #f9f9f9;
    border-radius: 3px 3px 0 0;
  }

  #city-results-body {
    padding: 4px;

    .city-results-body-city {
      padding: 2px 4px;
      font-size: 0.9rem;

      &:hover {
        background: #eee;
        cursor: pointer;
        border-radius: 3px;
        //font-weight:bold;
      }
    }
  }

  #city-results-footer{

    hr {
      margin:0;
    }

    div {
    font-size: 0.9rem;
    padding:5px 10px;
    text-align: end;
    }
  }
}
