nav {
  position: fixed;
  z-index: 4;
  left: -220px;
  width: 220px;
  height: 100%;
  padding: 50px 0 15px;
  top: 0;
  background: #fbfbfb;
  background: #fff;
}

nav {
  left:-220px;
}

nav.open {
  left: 0;
}

#nav-user {
  padding: 15px; /*border-bottom:solid 1px #eee;*/
  background: #fbfbfb;
  background: #fff;
}

#nav-user-name {
  font-size: 14px;
  font-weight: bold;
}

#nav-user-function {
  color: #999;
  font-size: 13px;
  margin:0 0 5px;
}

#nav-user a {
  font-size:13px;
}

#nav-user-logout {
  font-size: 13px;
}

#nav-content {
}

#nav-content-title {
  padding: 15px;
  border-bottom: solid 1px #f3f3f3;
  border-top: solid 1px #f3f3f3;
  font-weight: bold;
  background: #fbfbfb;
}


/* NAV 1er niveau */
#nav-menu {
  padding: 0; /*height:500px;*/
  background: #fbfbfb;
  background: #fff;
}

#nav-menu ul, #nav-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-menu a {
  padding: 13px 10px 13px 15px;
  display: block;
  color: #4e5659;
  font-weight: bold;
  border-right: solid 2px transparent;

  i {
    font-weight: 300;
    font-size: 16px!important;
  }
}

#nav-menu a:hover {
  background: #f6f6f6;
  border-right: solid 2px #2980b9;
  border-right: solid 2px #ccc;
}

#nav-menu li.open a {
  background: #f0f0f0;
  border-right: solid 2px #ccc;
}

#nav-menu li.open ul a {
  background: none;
  border-right: none;
}

#nav-menu li.active a {
  background: #f3f3f3;
  border-right: solid 2px #2980b9;
  background: #2980b9;
  color: #fff;
}

#nav-menu a i {
  margin: 0 10px 0 0;
  font-size: 14px;
}

/*#nav-menu a .arrow { font-size:10px; padding:5px 0 0; content:'\f104'; font-family:"FontAwesome", sans-serif; }*/
#nav-menu a .arrow:before {
  content: '\f104';
  font-family: "FontAwesome", sans-serif;
  font-size: 13px;
  float: right;
}

#nav-menu li.active a .arrow:before {
  content: '\f107';
  font-family: "FontAwesome", sans-serif;
  font-size: 13px;
  float: right;
}


/* NAV 2ème niveau */
#nav-menu li.active ul, #nav-menu li.open ul {
  display: block;
  background: #fff;
}

#nav-menu li.open ul {
  display: block;
}

#nav-menu li ul {
  display: none;
}

#nav-menu li.active ul a {
  background: #fff;
  border-right-color: transparent;
}

#nav-menu li ul, #nav-menu li ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-menu li ul a, #nav-menu li.active ul a {
  padding: 4px 10px 4px 25px;
  color: #7b888c;
  font-weight: normal;
  border-bottom: none;
}

#nav-menu li ul li ul a, #nav-menu li.active ul li ul a {
  padding-left: 40px;
}

#nav-menu li ul a:hover {
  background: #f9f9f9;
  background: none;
  border-right: solid 2px #2980b9;
  border-right: solid 2px #ddd;
  color: #333;
}

#nav-menu li ul li.active a {
  background: none;
  font-weight: bold;
  border-right: solid 2px #2f92d4;
  color: #333;
}

#nav-menu li ul li.active a:before {
  font-family: "FontAwesome", sans-serif;
  content: '\f061';
  font-size: 8px;
  margin: 0 5px 0 0;
  color: #333;
}

/*#nav-menu li.open ul li:last-child a { border-bottom:solid 1px #f3f3f3; }*/
#nav-menu ul ul {
  border-bottom: solid 1px #f3f3f3;
  padding: 4px 0;
}

#logo {
  width:70px;
}

#logo.open {
  width:220px;
}

/*
///////////////////////
HAMBURGER fermé
///////////////////////
*/
body.nav-close nav {
  left: -220px;
}

body.nav-close #logo {
  width: 70px;
}

body.nav-close #header-content {
  left: -220px;
}

body.nav-close #breadcrumb-content {
  padding-left: 15px;
}

body.nav-close main {
  padding-left: 0;
}
