
.box, .box-tab {
    border-radius:5px;
}

.box-header {
    border-radius:5px 5px 0 0;
    min-height:11px !important;
}

input, input.form-control, select, select.form-control textarea, textarea.form-control {
    border-radius:3px !important;
}

//.input-group .form-control {
//    border-radius:0 !important;
//}

.btn {
    border-radius:3px !important;
}

.select2-selection.select2-selection--single, .select2-container--focus, .select2-container--focus *, .select2-container--focus > *, .select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple, .select2-container--default.select2-container--open .select2-selection--single {
    border-radius:3px;
}

.input-group-text {
    border-radius:3px 0 0 3px !important;
}

.box-tab ul { border-top-left-radius:5px; border-top-right-radius:5px; }
.box-tab li a:first-child { border-top-left-radius:5px; }

.radius, .radius5 { border-radius:5px !important; }
.radius0 { border-radius:0px !important; }
.radius1 { border-radius:1px !important; }
.radius2 { border-radius:2px !important; }
.radius3 { border-radius:3px !important; }
.radius10 { border-radius:10px !important; }
.radiusb2 { border-bottom-left-radius:2px !important; border-bottom-right-radius:2px !important; }
.radiust2 { border-top-left-radius:2px !important; border-top-right-radius:2px !important; }
.radiusb3 { border-bottom-left-radius:3px !important; border-bottom-right-radius:3px !important; }
.radiust3 { border-top-left-radius:3px !important; border-top-right-radius:3px !important; }
.radiusb5 { border-bottom-left-radius:5px !important; border-bottom-right-radius:5px !important; }
.radiust5 { border-top-left-radius:5px !important; border-top-right-radius:5px !important; }
.radiusb10 { border-bottom-left-radius:10px !important; border-bottom-right-radius:10px !important; }
.radiust10 { border-top-left-radius:10px !important; border-top-right-radius:10px !important; }

.radius-tl3, .form-control.radius-tl3 { border-top-left-radius:3px !important; }
.radius-tr3, .form-control.radius-tr3 { border-top-right-radius:3px !important; }
.radius-bl3, .form-control.radius-bl3 { border-bottom-left-radius:3px !important; }
.radius-br3, .form-control.radius-br3 { border-bottom-right-radius:3px !important; }

.radius-tl5, .form-control.radius-tl5 { border-top-left-radius:5px !important; }
.radius-tr5, .form-control.radius-tr5 { border-top-right-radius:5px !important; }
.radius-bl5, .form-control.radius-bl5 { border-bottom-left-radius:5px !important; }
.radius-br5, .form-control.radius-br5 { border-bottom-right-radius:5px !important; }
