@media (max-width: 768px) {
  /*header { position:relative; }*/
  #logo {
    display: none;
  }
  #software-search {
    display: none;
  }
  nav {
    display: none;
  }
  #breadcrumb {
    position: relative;
    height: auto;
    line-height: normal;
    padding: 65px 15px 15px 15px;
    top: 0;
  }
  #module-name, #breadcrumb ul, #breadcrumb-explain, #breadcrumb-buttons {
    float: none;
    display: block;
  }
  #module-name, #breadcrumb ul, #breadcrumb-explain {
    margin: 0 0 5px;
  }
  #breadcrumb-buttons {
    text-align: right;
  }
  #breadcrumb-content {
    padding: 0 !important;
  }
  #breadcrumb-explain {
    text-align: left;
  }
  main {
    padding: 0 !important;
  }
  #main-content {
    padding: 15px 15px 0;
  }

  .loader-content {
    width: 80%;
    margin-left: -10%;
  }
}
