.table {

  tr, th {
    vertical-align: middle;
  }

  th {
    border-bottom-width: 2px;
  }

  .badge {
    font-size: 1rem;
    font-weight: normal;
    //padding: 0.125rem 0.5rem;
    //line-height: 1.5;
  }
}


.table-striped > tbody > tr:nth-of-type(odd) > * {
  background: #f9f9f9 !important;
}

.table-responsive-sticky {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}

.table-sticky {
  border-spacing: 0;
  border-collapse: separate;
}

.table-sticky thead {
  inset-block-start: 0; /* "top" */
}

.table-sticky tfoot {
  inset-block-end: 0; /* "bottom" */
}

.table-sticky thead, .table-sticky tfoot {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* ***************************************************** */

.table, .table tr, .table th, .table td {
  border: none !important;
}

//.table, .table tfoot th {
//  border-bottom:solid 1px #eee!important;
//}

.table th, .table td {
  border-bottom: solid 1px #eee !important;
}

.table th:first-child, .table td:first-child {
  border-left: solid 1px #eee !important;
}

.table td {
  border-right: solid 1px #eee !important;
}

.table thead tr:first-child th {
  border-top: solid 1px #ddd !important;
}

.table thead tr:last-child th, .table tfoot tr:last-child th,
.table thead tr:last-child td, .table tfoot tr:last-child td {
  border-bottom: solid 1px #ddd !important;
}

.table thead tr th:first-child, .table thead tr td:first-child,
.table tfoot tr th:first-child, .table tfoot tr td:first-child {
  border-left: solid 1px #ddd !important;
}

//.table tr th:first-child {
//  border-left:solid 1px #ddd!important;
//}

.table th,
.table thead tr th, .table thead tr td,
.table tfoot tr th, .table tfoot tr td {
  border-right: solid 1px #ddd !important;
}

.table tbody tr:first-child td {
  border-top: none !important;
}

.table th {
  font-weight: 900;
  //background: #f3f3f3;
}

.table tbody tr:last-child td {
  border-bottom: none !important;
}

.table tfoot tr:last-child th, .table tfoot tr:last-child td {
  border-top: solid 1px #ddd !important;
}

.table.no-tfoot tbody tr:last-child td {
  border-bottom: solid 1px #eee !important;
}

