$success: #45B39D;
$danger: #DD4768;
$warning: #fcaf49;
$primary: #2980B9;
$table-striped-bg: #f9f9f9;
$table-hover-bg: #f0f0f0;
$btn-active-color: #fff;
$alert-bg-level:-8;
$alert-border-level:-6;
$alert-color-level:8;
$table-color: #444;

//$tooltip-color: #fff;
//$tooltip-bg: #2980b9;
//$tooltip-border-radius:2px;

@import '~bootstrap/scss/bootstrap';
@import './main';
@import './responsive';
@import './radius';
@import './btn';
@import './tables';
@import './city';
@import 'select2';
@import './class';
@import './menu';
//@import 'chosen-js/chosen.min.css';
@import 'jquery-slimscroll/examples/style.css';
@import 'bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css';
@import './card';

.debug {
  margin: 0 0 5px;
  border-radius: 3px;
  background: #333;

  .comment {
    color: #42e7d4;
  }

  .comment:after {
    content: '---';
    margin: 0 0 0 5px;
  }

  pre {
    margin: 0;
    padding: 20px;
    color: #eee;
    font-family: Consolas;
    font-size: 0.75rem;
  }
}

body, .table > td {
  color:#444;
}

*, :focus, :active {
  outline: none !important;
}

.pagination .page-item {
  outline: none !important;
  box-shadow: none !important;
}

.pagination .page-item:first-child .page-link {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.pagination .page-item:last-child .page-link {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.pagination .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  outline: none !important;
  box-shadow: none !important;
}

.slimScrollDiv {
  border: none !important;
}

/* TINY MCE */
.tox-tinymce {
  border: solid 1px #dee2e6 !important;
  border-radius: 3px !important;
}

.tox-editor-header {
  box-shadow: none !important;
  border-bottom: solid 1px #dee2e6 !important;
}
.tox:not(.tox-tinymce-inline) .tox-editor-header {
  padding:0!important;
}

.tox .tox-tbtn {
  height: 22px !important;
}

.tox:not([dir=rtl]) .tox-toolbar__group:not(:last-of-type) {
  border-color:#dee2e6!important;
}


.form-control {
  height: auto;
}

.form-check .form-check-input {
  margin-left: 0;
  margin-right: 5px;
}

form legend {
  font-weight: bold;
}
.form-label {
margin-bottom: 5px;
}

.form-check-input {
  position: relative;
  margin:0;
}

.colorpicker {
  border:none;
  padding:0;
}

.colorpicker:before {
  display: none;
}
.colorpicker input {
  border-left:none;
  border-radius: 0 3px 3px 0!important;
}

.alert.alert-popin {
  //opacity: 0;
  position: absolute;
  z-index: 1500;
  right:0px;
  top:10px;
  padding:12px 20px;
}

.alert:not(.alert-popin) {
  margin-bottom:30px;
}

.vab {
  vertical-align: bottom!important;
}
