{% extends 'admin/login/template.html.twig' %}

{% block body %}
   <form action="{{ path('admin_login') }}" method="post">
      <div class="mb20">
         <div class="mb5 bold">Identifiant</div>
         <input type="text"
                name="_username"
                id="username"
                class="form-control"
                value="{{ not last_username and ENV.isLuc ? 'luc.payen@live.com' : last_username }}"
         >
      </div>
      <div class="mb20">
         <div class="mb5 bold">Mot de passe</div>
         <input type="password"
                name="_password"
                id="password"
                class="form-control"
                value="{{ ENV.isLuc ? 'LPartemys2023!!' : '' }}"
         >
      </div>
      <div class="mb20 d-flex justify-content-end align-items-center">
{#         <a href="" class="text-secondary">Mot de passe oublié ?</a>#}
         <input type="submit" class="{{ HTML.btnShow }} d-block" value="Se connecter">
      </div>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
   </form>
{% endblock %}
{% block js %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   <script>
       $(document).ready(function () {
           const $first = $('input').first();
           const val = $first.val();
           $first
               .val(val)
               .focus()
           ;
       });
   </script>
{% endblock %}
