<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
      <title>ARTEMYS admin</title>
      <link rel="icon" type="image/png" href="{{ asset('logo_admin.svg') }}">
      {% block stylesheets %}
         {{ encore_entry_link_tags('admin') }}
      {% endblock %}
      <style>
          html {
              height: 100%;
          }

          body {
              background: linear-gradient(to bottom, #000, #eee);
              background: #2980b9;
              /*background: linear-gradient(to bottom, #2980b9, #2980b9);*/
              background: linear-gradient(135deg, rgb(41, 128, 185), rgb(19, 70, 103));
              margin: 0;
              /*width:100%;*/
              /*height:100%;*/
          }

          #content {
              /*width: 100%;*/
              /*position: relative;*/
              /*z-index: 10;*/
          }

          #center {
              --width: 400px;
              --height: 540px;
              width: var(--width);
              height: var(--height);
              background: #000;
              position: fixed;
              top: 50%;
              left: 50%;
              margin: calc(var(--height) / 2 * -1) 0 0 calc(var(--width) / 2 * -1);
              background: rgba(255, 255, 255, 1);
              padding: 20px;
              border-radius: 10px;
              box-shadow: 0 0 10px rgba(0, 0, 0, .2);
              box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
              /*box-shadow:0px 0 1px 5px rgba(0, 0, 0, .1), -60px 50px 1px 0px rgba(0, 0, 0, .1), 30px -50px 1px 0px rgba(0, 0, 0, .1), -20px 20px 1px 0px rgba(255, 255, 255, .1), 60px -20px 1px 0px rgba(255, 255, 255, .1);*/
              box-shadow: 0px 0 1px 5px rgba(0, 0, 0, .1), -60px 50px 1px 0px rgba(0, 0, 0, .1), 30px -50px 1px 0px rgba(0, 0, 0, .1), 50px 20px 1px 0px rgba(255, 255, 255, .1), -30px -20px 1px 0px rgba(255, 255, 255, .1);
          }

          @media (max-width: 576px) {
              #center {
                  width: 100%;
                  left: 0;
                  margin-left: 0;
                  border-radius: 0;
                  box-shadow: 0px 0 30px -10px rgb(38, 57, 77);
              }
          }

          #title {
              position: relative;
              margin: 0 0 40px;
              padding: 10px;
              border-radius: 5px;
              color: #111;
              font-size: 24px;
              text-align: center;
              /*background:  rgb(41, 128, 185, .05);*/
              /*border-bottom:solid 5px rgb(41, 128, 185, .1);*/
          }
          /*#title:after {*/
          /*    position: absolute;*/
          /*    content: '';*/
          /*    width:100%;*/
          /*    height:0;*/
          /*    left:0;*/
          /*    bottom:-20px;*/
          /*    border-bottom:dashed 1px #ddd;*/
          /*}*/
      </style>
   </head>
   <body>
      <div id="content">
         <div id="center" class="d-flex align-content-between flex-column justify-content-between">
            <div class="">
               <div id="title">
                  <div class="fw900" style="color:#2980b9;">Artemys</div>
                  Investissement
               </div>
               <div class="text-center mb30">
                  {% if error %}
                     <div class="text-danger">Identifiants invalides</div>
                  {% else %}
                     {{ message }}
                  {% endif %}
               </div>
               {% block body %}{% endblock %}
            </div>
            <div class="d-flex flex-column align-items-center fs13">
               {#               <div class="mb5 text-center"><img src="{{ asset('logo_front.svg') }}" class="w10p"></div> #}
               &copy; {{ 'now'|date('Y') }} Artemys Investissement
            </div>
         </div>
      </div>
   </body>
   {% block js %}{% endblock %}
</html>
