{% extends 'admin/email/template_email.html.twig' %}

{% block body %}
   <div class="margin2 center">
      <div class="bold">
         Création de {{ productType.name }}
      </div>
   </div>
{% endblock %}
