<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>ARTEMYS Investissement</title>
      <style media="all">
          @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

          html {
              background: #eee!important;
          }

          body {
              margin: 0 auto!important;
              padding: 15px!important;
              font-size: 18px!important;
              font-weight: 500!important;
              background: #eee!important;
              max-width: 600px!important;
          }

          html, body, body *, * {
              font-family: 'Dosis', sans-serif!important;
          }

          header {
              margin: 0;
          }

          main {
              font-size: 20px;
              font-weight: 500;
              color: #444;
          }

          #logo {
              display: flex;
              justify-content: center;
              width: 200px;
              height: 200px;
              padding: 40px;
              border-radius: 100px;
              background: #eee;
              background: linear-gradient(to top, #eee, rgba(255, 255, 255, .75));
              margin: 0 auto;
              border-top: solid 3px #fff;
              border-bottom: solid 3px #fff;
              box-sizing: border-box;
              box-shadow: inset 5px 5px 5px -5px rgba(0, 0, 0, .25), inset -5px -5px 5px -5px rgba(0, 0, 0, .25);
          }

          #logo-text {
              text-align: center;
              position: relative;
              margin: 1rem 0 0;
              font-weight: 500;
          }

          #logo-text-bold {
              font-weight: 900;
              color: #40adaa;
          }

          #header-line {
              width: 50%;
              height: 0;
              margin: 0 auto;
              border-top: solid 1px #ddd;
              border-bottom: solid 1px #fff;
              margin: 1.5rem auto;
          }

          table {
              text-align: left;
          }

          table th, table td {
              padding: 0.5rem;
          }

          .margin1 {
              margin: 0 0 1rem;
          }

          .margin2 {
              margin: 0 0 2rem;
          }

          .bold {
              font-weight: 900;
              margin: 0 0 0.25rem;
          }

          .center {
              text-align: center;
          }

          .left {
              text-align: left;
          }
      </style>
   </head>
   <body>
      <header>
         <div id="logo" style="text-align: center;">
            <img src="cid:logo">
         </div>
         <div id="logo-text">
            <span id="logo-text-bold">Artemys</span>
            Investissement
         </div>
         <div id="header-line"></div>
      </header>
      <main>
         {% block body %}{% endblock %}
      </main>
   </body>
</html>
