<form method="post" action="{{ path('admin_sms_delete', {'id': sms.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sms.id) }}">
    <button class="btn">Delete</button>
</form>
