<!DOCTYPE html>

<title>Edit Sms</title>

{% block body %}
    <h1>Edit Sms</h1>

    {{ include('admin/sms/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_sms_index') }}">back to list</a>

    {{ include('admin/sms/_delete_form.html.twig') }}
{% endblock %}
