<!DOCTYPE html>

<title>Sms index</title>

{% block body %}
    <h1>Sms index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Phone</th>
                <th>Text</th>
                <th>MessageId</th>
                <th>Date</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sms in sms %}
            <tr>
                <td>{{ sms.id }}</td>
                <td>{{ sms.phone }}</td>
                <td>{{ sms.text }}</td>
                <td>{{ sms.messageId }}</td>
                <td>{{ sms.date ? sms.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sms.status }}</td>
                <td>
{#                    <a href="{{ path('admin_sms_show', {'id': sms.id}) }}">show</a>#}
                    <a href="{{ path('admin_sms_edit', {'id': sms.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_sms_new') }}">Create new</a>
{% endblock %}
