<!DOCTYPE html>

<title>New Sms</title>

{% block body %}
    <h1>Create new Sms</h1>

    {{ include('admin/sms/_form.html.twig') }}

    <a href="{{ path('admin_sms_index') }}">back to list</a>
{% endblock %}
