<!DOCTYPE html>

<title>Sms</title>

{% block body %}
    <h1>Sms</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sms.id }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ sms.phone }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ sms.text }}</td>
            </tr>
            <tr>
                <th>MessageId</th>
                <td>{{ sms.messageId }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ sms.date ? sms.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ sms.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_sms_index') }}">back to list</a>

    <a href="{{ path('admin_sms_edit', {'id': sms.id}) }}">edit</a>

    {{ include('admin/sms/_delete_form.html.twig') }}
{% endblock %}
