$borderRadius: 5px;

.card-product {
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  border: none;

  &.mapped {
    //border:solid 3px #000;

    .card-product-link {
      bottom: 20px !important;
    }
  }

  .card-body {
    padding: 0;

    .card-product-header {
      height: 230px;
      overflow: hidden;
      border-radius: $borderRadius $borderRadius 0 0;

      a {
        position: relative;
        display: block;
        height: 100%;

        .card-product-imgs {
          position: absolute;
          width: 99999px;
          top: 0;
          height: 100%;
          width: 100%;
          overflow: hidden;
          border-radius: $borderRadius $borderRadius 0 0;

          .card-product-img {
            overflow: hidden;

            img {
              object-fit: contain;
              overflow: hidden;
              scale: initial;
              transition: all 250ms
            }
          }
        }

        .card-product-bg {
          position: absolute;
          width: 99999px;
          top: 0;
          height: 100%;
          width: 100%;
          overflow: hidden;
          border-radius: $borderRadius $borderRadius 0 0;
          transition: all 500ms ease;
        }

        .card-product-arrows {
          position: absolute;
          width: 100%;
          height: 30px;
          top: 95px;
          z-index: 10;

          .card-product-arrow {
            position: absolute;
            display: flex;
            font-size: 0.7rem;
            width: 28px;
            height: 28px;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 10px;
            border-radius: 50px;
            background: rgba(255, 255, 255, 1);
            color: #444;
            transition: background-color 100ms ease-in;

            &:before {
              content: '';
              position: absolute;
              top: -4px;
              left: -4px;
              width: 36px;
              height: 36px;
              border: solid 2px #fff;
              border-radius: 100px;
              transition: border-color 100ms ease-in;
            }

            &:hover {
              background-color: rgba(255, 255, 255, .2);
              color: #fff;
            }

            &:active {
              background: rgba(255, 255, 255, 1);
              color: #444;
            }
          }

          .js-product-left {
            left: 10px;
            z-index: 500;
          }

          .js-product-right {
            right: 10px;
            z-index: 500;
          }
        }

        .card-product-thumbs {
          width: 100%;
          height: 32px;
          position: absolute;
          bottom: 0px;
          //background: rgba(0, 0, 0, .5);
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 11;
          cursor: default;

          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
              display: inline-block;
              padding: 12px 5px;
              margin: 0;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              //background: rgba(2118, 33, 40, .5);

              span {
                display: block;
                width: 30px;
                height: 8px;
                //background: #fff;
                background: rgba(255, 255, 255, .25);
                border: solid 1px #fff;
                border-radius: 10px;
              }

              &.active {

                span {
                  //background: rgba(255, 255, 255, .25);
                  background: #fff;
                }
              }
            }
          }
        }

        .card-product-link {
          position: absolute;
          width: 140px;
          height: 30px;
          bottom: -30px;
          left: 50%;
          margin: 0 0 0 -70px;
          color: #fff;
          z-index: 50;
          text-align: center;
          border: solid 1px rgba(255, 255, 255, .5);
          background: rgba(255, 255, 255, .25);
          border-radius: 2px;
          transition: bottom 0.4s ease, background-color 100ms ease-in, border-color 100ms ease-in;
        }

        &:hover {

          .card-product-link {
            border-color: rgba(255, 255, 255, .75);
            background-color: rgba(255, 255, 255, .4);
          }
        }
      }
    }

    .card-product-content {
      padding: 20px;
      @media (min-width: 992px) {
        font-size: 1.1rem;
      }
      font-weight: 500;

      .card-product-title {
        font-weight: bold;
        font-size: 1.4rem;
      }

      .card-product-city {
        margin: 0 0 10px;
        font-size: 1rem;
        color: $secondary;
      }
    }
  }

  .card-footer {
    display: flex;
    position: relative;
    border: none;
    background: none;
    justify-content: space-around;
  }

  &:hover {

    @media (min-width: 992px) {
      //.card-product-bg {
      //  background: linear-gradient(to top, rgba(0, 0, 0, .25), rgba(0, 0, 0, 0));
      //}
      img {
        transform: scale(1.1, 1.1);
      }
    }

    //.card-product-link {
    //  bottom: 20px !important;
    //}
  }
}
