@media (max-width: 992px) {

  #nav-full {
    display: none;
  }
  #nav-mobile {
    display: flex;
  }

  //  nav {
  //
  //    .container {
  //      margin-left: 0;
  //      padding-left: 0;
  //    }
  //
  //    #logo-container {
  //      margin-left: 20px !important;
  //    }
  //  }
  //}
  //
  //@media (max-width: 768px) {

  h1 {
    font-size: calc(1.2rem + 1.5vw);
  }

  body, .form-control, .btn, .card, .card-body {
    font-size: 1rem;
  }

  header {

    padding-bottom: 55px;

    nav {
      height: 55px;
      background: rgba(255, 255, 255, 1);
      border-bottom-width: 1px;
      box-shadow: 0 0 0 #fff;

      #nav-mobile {
        height: 55px;
      }

      #logo-container {
        margin: 0 !important;
        background: none !important;
        box-shadow: none !important;
        text-align: left !important;
        display: flex;
        align-items: center;

        #logo {
          height: 55px;
          margin: 0 10px;
          padding:10px;

          img {

          }
        }

        .logo-text {
          padding: 0;
          border-radius: 0 0 5px 5px;
          font-weight: 700;
          background: none !important;
          border: none !important;
          line-height: 1.25;
        }
      }
    }
  }

  #nav-popin {
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    background: rgba(255, 255, 255, 1);

    #nav-popin-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #eee;
      width: 100%;
      height: 55px;
      border-bottom: solid 1px $brown;

      #nav-popin-title {
        font-weight: 900;
      }
    }

    ul, li {
      margin: 0;
      padding: 0;
    }

    ul {
      margin: 10px 0;
    }

    a {
      display: block;
      padding: 10px 20px;
      color: #333;
    }
  }

  .full-screen-50 {
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }

  .breadcrumb {

    li {
      font-size: 0.9rem;
    }
  }

  .product-title {
    font-size: 2rem;
  }

  .product-subtitle {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .slider-title {
    font-size: 1.75rem !important;
    top: 15vh !important;
  }

  .slider-subtitle {
    font-size: 1rem !important;
    top: calc(15vh + 40px) !important;
  }
}
