@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.05, 1.05);
  }
}

@keyframes slider-title {
  0% {
    transform: translateY(5vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slider-subtitle {
  0% {
    transform: translateY(8vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

//@keyframes landing-balloon {
//  0% {
//    transform: scale(2.5) translate(-10vw, -30vh);
//  }
//  100% {
//    transform: scale(1) translate(0, 0);
//  }
//}
//

@keyframes levitation {
  0% {
    transform: rotate(0deg) translate(-50px) rotate(0deg);

  }
  100% {
    transform: rotate(360deg) translate(-50px) rotate(-360deg);
  }
}

@keyframes contact-us {
  0% {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);

  }
  100% {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
}

@keyframes contact-us-btn {
  0% {
    transform: rotate(0deg) translate(-20px) rotate(0deg);

  }
  100% {
    transform: rotate(360deg) translate(-20px) rotate(-360deg);
  }
}

//@keyframes zoom-out {
//  0% {
//    transform: scale(1.1, 1.1);
//  }
//  100% {
//    transform: scale(1, 1);
//  }
//}

//@keyframes product-in {
//  0% {
//    transform: scale(1, 1);
//  }
//  100% {
//    transform: scale(1.05, 1.05);
//  }
//}
//
//@keyframes product-out {
//  0% {
//    transform: scale(1.05, 1.05);
//  }
//  100% {
//    transform: scale(1, 1);
//  }
//}

//@keyframes bottom {
//  0% {
//    transform: scale(1, 1);
//  }
//  100% {
//    transform: scale(1.05, 1.05);
//  }
//}


// https://dabblet.com/gist/1694171

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
