$sliderHeight: 50vh;
$borderHeaderWith: 0px;
$brown: #706864;
$brown: #cb5616;
//$brown: #308bca;
//$brown: #6d7a8a;
$boxShadow: 0 5px 10px rgba(0, 0, 0, .1);
$headerHeight: 70px;

$theme-colors: (
        "primary": #3566a4,
        "secondary": #666,
        "success": #20b973,
        "info": #44cce7,
        "warning": #ffba41,
        "danger": #d22a3c,
        "light": #ccc,
        "dark": #333
);

$btn-border-radius: 4px;
$btn-border-width: 2px;
$link-color: $brown;

@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.min';
@import '../../common/class';
@import './transition';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Lato:wght@100;300;400;700;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'lightbox2/dist/css/lightbox.min.css';

.bg-gray {
  background: #F7F7F7;
}

.btn-success {
  color: #fff !important;
}

.btn-success:hover {
  background: #1da266 !important;
  border-color: #1da266 !important;
  color: #fff !important;
}

.btn-outline-warning:hover {
  color: #fff !important;
}

.btn-outline-success:hover {
  background: #20b973 !important;
  border-color: #20b973 !important;
  color: #fff !important;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Dosis, 'Calibri', sans-serif;
  background: #fff;
}

body, .form-control, .btn, .card, .card-body {
  font-size: 1.1rem;
  font-weight: 500;
}

body, .form-control, .card, .card-body {
  color: #333;
}

a, a:hover {
  text-decoration: none;
}

#nav-full {
  display: flex;
}

#nav-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

#nav-popin {
  //display: flex;
  //justify-content: space-between;
}

body {
  display: flex;
}

header {
  width: 100%;
  position: relative;
  padding-bottom: $headerHeight;
  //z-index: 4;

  nav {
    width: 100%;
    height: $headerHeight;
    //line-height: 90px;
    position: fixed;
    z-index: 9999;
    background: rgba(255, 255, 255, .95);
    //box-shadow: 0 0 25px 25px rgba(255, 255, 255, .9);
    border-bottom: solid $borderHeaderWith $brown;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);

    #logo-container {
      margin: 0 20px 0 0;
      z-index: 110;
      box-shadow: 0 0 10px rgba(0, 0, 0, .25);
      background: rgba(255, 255, 255, 1);
      border-radius: 0 0 5px 5px;
      text-align: center;

      #logo {
        height: calc(#{$headerHeight} + 40px);
        padding:10px 50px;

        img {
          height:100%;
        }
      }

      .logo-text {
        padding: 5px 20px 5px;
        border-radius: 0 0 5px 5px;
        background: rgba(255, 255, 255, 1);
        font-weight: 700;
        font-size: 1rem;
      }
    }

    ul {
      display: flex;
      height: $headerHeight;
      justify-content: center;
      align-items: start;
    }

    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
      z-index: 75;
    }

    li {
      display: flex;
      height: calc(#{$headerHeight} - #{$borderHeaderWith});
    }

    a {
      color: #333;
    }

    a.active {
      color: #da2128;
    }

    li a {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
      text-transform: uppercase;
      font-weight: bold;
      justify-content: center;
      font-size: 0.9rem;
    }

    li a:hover {
      //background: $brown;
      //color: #fff;
      //border-bottom: solid 1px #fff;
      color:$brown;
    }

    li a.active {
      background: $brown;
      color: #fff;
      border-bottom: solid 1px #fff;
    }
  }
}

#slider-home {
  width: 100%;
  height: $sliderHeight;
  position: relative;

  #slider-slides {
    width: 100%;
    height: $sliderHeight;
    position: relative;
    overflow: hidden;
    //background: #333;

    img {
      width: 100%;
      height: $sliderHeight;
      overflow: hidden;
      position: absolute;
      z-index: 10;
      object-fit: cover;
      object-position: center;
      animation: zoom 5s ease forwards;
    }

    .slider-titles {

      width: 100%;
      height: 100%;
      //background: rgba(0, 0, 0, .25);
      background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
      position: absolute;
      z-index: 50;

      .slider-title {
        font-size: 5rem;
        font-weight: 900;
        position: absolute;
        left: 10%;
        top: 10vh;
        z-index: 200;
        color: #fff;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
        opacity: 0;
        animation: slider-title 2s ease forwards;
      }

      .slider-subtitle {
        font-size: 2rem;
        font-weight: 300;
        position: absolute;
        left: 15%;
        top: calc(10vh + 100px);
        z-index: 200;
        color: #fff;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
        opacity: 0;
        animation: slider-subtitle 2.5s ease forwards;
      }
    }
  }

  #contact-us {
    display: flex;
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 12;
    color: #fff;
    justify-content: center;
    align-items: center;
    z-index: 55;

    a {
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 1.25rem;
      animation: upDown 15s ease-in-out infinite;

      #contact-us-text {
        position: relative;
        font-weight: 900;
        color: #fff;
        text-shadow: 0 3px 5px rgba(0, 0, 0, .5);
        transform: translateY(0px);

        &:before {
          content: '';
          position: absolute;
          width: 0%;
          height: 0;
          left: 0px;
          top: -15px;
          border-top: solid 2px #fff;
          border-radius: 10px;
          transition: width 250ms ease;
        }

        &:after {
          content: '';
          position: absolute;
          width: 50%;
          height: 0px;
          bottom: -15px;
          right: -15px;
          border-bottom: solid 2px #fff;
          transition: width 250ms ease;
        }
      }

      #contact-us-btn {
        position: relative;
        border-radius: 100px;
        border: solid 2px #fff;
        padding: 5px;
        margin: 0 0 0 20px;
        animation: contact-us-btn 20s infinite linear;

        #contact-us-icon {
          background: #fff;
          border-radius: 100px;
          padding: 20px;
          margin: 0;
          transition: all 250ms ease;

          i {
            display: block;
            color: #444;
            font-size: 1rem;
          }
        }
      }

      &:hover {
        #contact-us-text:before {
          width: 25%;
        }

        #contact-us-text:after {
          width: 85%;
        }

        #contact-us-icon {
          background-color: rgba(255, 255, 255, .25) !important;
          padding: 16px !important;
          margin: 4px !important;
        }

        i {
          color: #fff !important;
        }
      }
    }
  }

  #mont {
    position: absolute;
    bottom: -50px;
    right: 200px;
    z-index: 20;
    //animation: landing-balloon 4s ease-in-out forwards, levitation 5s 1s infinite linear;
    animation: levitation 15s infinite linear;
  }
}

main {
  margin: 0;
  padding: 0;
  //box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  //box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  //z-index: 3;
}

footer {
  width: 100%;
  min-height: 200px;
  background: #444;
  //border-top:solid 2px #fff;
  //box-shadow: inset 0 0 20px rgba(0, 0, 0, .5);
  display: flex;
  align-self: end;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  margin-top: auto;
}

.product-title {
  position: relative;
  margin: 0 0 50px;
  font-weight: 900;
  //font-size:3vw;
  //line-height: 60px;
  font-size: 3rem;
  color:#444;
}

.product-title:after {
  content: '';
  width: 75%;
  height: 1px;
  border-bottom: solid 1px #333;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.product-subtitle {
  font-weight: 400;
  color: #999;
  color: $brown;
  font-size: 1.75rem;
  //line-height: 0.7;
  margin: 0 0 0 30px;
  position: relative;
}

//.product-subtitle:before {
//  content: '';
//  display: block;
//  width: 75px;
//  height: 1px;
//  margin: 0 0 10px;
//  position: absolute;
//  right: 0;
//  border-bottom: solid 2px #ddd;
//}

.full-screen {
  width: 100%;
  height: 100vh;
  height: 50vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 3s ease forwards;
  }
}


.box-shadow {
  box-shadow: $boxShadow;
}

.animate-btn {

  i {
    margin: 0 0 0 10px;
    transition: margin-left 0.4s ease;
  }

  &:hover i {
    margin-left: 20px;
  }
}

.hr-center {
  width: 20%;
  margin: 0 auto;
}

.documents {
  position: relative;
  text-align: center;

  .documents-back {
    position: absolute;
    top: -85px;
    right: 25px;
  }

  .documents-content {
    position: relative;
    background: #fff;
    border-radius: 20px;
    border-top: solid 2px #eee;
    border-bottom: solid 2px #eee;
    overflow: hidden;

    .documents-title {
      position: relative;
      z-index: 11;
      font-size: 30px;
      font-weight: 400;
      padding: 20px;
      line-height: 30px;
      text-align: center;

      span {
        font-weight: 900;
      }


      &:after {
        content: ' ';
        position: absolute;
        width: 50%;
        height: 0;
        border-bottom: dotted 2px #ddd;
        bottom: 0;
        left: 25%;
      }
    }

    .documents-type {
      position: relative;
      z-index: 12;
    }

    //.documents-folder {
    //  position: absolute;
    //  top:50%;
    //  left:-25px;
    //  margin:-25% 0 0 0;
    //  font-size: 128px;
    //  z-index: 9;
    //  color:#f9f9f9;
    //}

    .documents-folder {
      position: absolute;
      height:100%;
      line-height:100%;
      top:10%;
      left:0;
      //margin:0 0 0 -25%;
      font-size: 512px;
      z-index: 9;
      color:#f9f9f9;
      color:#000;
      rotate: -10deg;
      color:#fcfcfc;
    }
  }
}

.breadcrumb {
  li a:hover {
    text-decoration: underline;
  }

}

@import './mobile';
@import './card_product';
