{% set col = col is defined ? col : 'col-12 col-md-6 col-xl-4' %}
{% set isIcon = isIcon is defined ? isIcon : true %}
{% set imgSize = imgSize is defined ? imgSize : 'thumb' %}
{% set justFirstPicture = justFirstPicture is defined ? justFirstPicture : false %}
<div class="row" style="height:auto!important;max-height: 1000px;overflow-y: scroll">
{#   <div class="col mb20">#}
{#      <h2 class="fw300">Lorem ipsum dolor <br class="d-sm-none">#}
{#         <span class="fw900">consectetur adipisicing elit</span>#}
{#      </h2>#}
{#      <div class="text-italic c-6">Ab aliquam beatae consequatur, cum cupiditate dignissimos</div>#}
{#      <hr class="hr w20p mt30">#}
{#   </div>#}
   {% for product in products %}
      {% set pictures = justFirstPicture ? [product.firstPicture] : product.pictures %}
      <div class="d-flex col-12">
         <div class="card card-product js-card-product w100p no-shadow {{ not loop.last ? 'mb30' : 'mb0' }}" id="card-product-{{ product.token }}" style="box-shadow:none!important;min-height: auto!important;border-radius: 0!important;">
            <div class="card-body d-flex flex-row fs12">
               <div class="card-product-header " style="box-shadow:none!important;min-height: auto!important;height: auto!important;width:200px!important;border-radius: 0!important;">
                  <a href="{{ path('front_product', {typeSlug: product.type.url, productSlug: product.url}) }}" style="width: 100%;!important;">
                     <div class="card-product-imgs" style="box-shadow:none!important;border-radius: 0!important;">
                        {% for picture in pictures %}
                           <div class="card-product-img" style="box-shadow:none!important;border-radius: 0!important;">
                              <img src="{{ asset(picture.url)|imagine_filter(imgSize) }}" class="js-card-product-img h100">
                           </div>
                        {% endfor %}
                     </div>
                  </a>
               </div>
               <div class="card-product-content p0 pl20 " style="margin-left: auto; margin-right: auto;">
                  <div class="card-product-title d-flex justify-content-between align-items-center">
                     <span class="mr10">{{ product.name }}</span>
                     <span class="card-product-city fwn">{{ product.cityZipcode }}</span>
                  </div>
                  <div>{{ product.text|intro(200)|striptags }}</div>
               </div>
            </div>
            {#            {% if isIcon and product.responses is defined %} #}
            {#               <div class="card-footer"> #}
            {#                  {% for response in product.responses %} #}
            {#                     <div class="text-center"> #}
            {#                        <div><i class="{{ response.question.icon }} c-6 fs24"></i></div> #}
            {#                        <span class="fw-bolder">{{ response.value }}</span> #}
            {#                     </div> #}
            {#                  {% endfor %} #}
            {#               </div> #}
            {#            {% endif %} #}
         </div>
      </div>
   {% else %}
      Aucune offre pour le moment !
   {% endfor %}
</div>
