{% set col = col is defined ? col : 'col-12 col-md-6 col-xl-4' %}
{% set isIcon = isIcon is defined ? isIcon : true %}
{% set imgSize = imgSize is defined ? imgSize : 'thumb' %}
{% set justFirstPicture = justFirstPicture is defined ? justFirstPicture : false %}
<div class="row">
   {% for product in products %}
      {% set pictures = justFirstPicture ? [product.firstPicture] : product.pictures %}
      <div class="d-flex {{ col }} mb-4">
         <div class="card card-product js-card-product w100p" id="card-product-{{ product.token }}">
            <div class="card-body">
               <div class="card-product-header">
                  <a href="{{ path('front_product', {typeSlug: product.type.url, productSlug: product.url}) }}">
                     <div class="card-product-imgs">
                        {% for k, picture in pictures %}
                           <div class="card-product-img">
                              <img src="{{ asset(picture.url)|imagine_filter(imgSize) }}"
                                   class="js-card-product-img"
                                   alt="Image {{ k }} de {{ product.name }}"
                              >
                           </div>
                        {% endfor %}
                     </div>
                     <div class="card-product-bg"></div>
                     {% if pictures|length > 1 %}
                        <div class="card-product-arrows">
                           <div class="card-product-arrow js-product-left"><i class="fa fa-chevron-left"></i></div>
                           <div class="card-product-arrow js-product-right"><i class="fa fa-chevron-right"></i></div>
                        </div>
                        <div class="card-product-thumbs">
                           <ul>
                              {% for i in 0..(pictures|length - 1) %}
                                 <li class="card-product-thumb {{ loop.first ? 'active' : '' }}" data-index="{{ i }}">
                                    <span></span>
                                 </li>
                              {% endfor %}
                           </ul>
                        </div>
                     {% endif %}
                     <div class="card-product-link">Découvrir</div>
                  </a>
               </div>
               <div class="card-product-content">
                  <div class="card-product-title">{{ product.name }}</div>
                  <div class="card-product-city">{{ product.cityZipcode }}</div>
                  <div>{{ product.text|intro(200)|striptags }}</div>
               </div>
            </div>
            {% if isIcon and product.responses is defined %}
               <div class="card-footer">
                  {% for response in product.responses %}
                     <div class="text-center">
                        <div><i class="{{ response.question.icon }} c-6 fs24"></i></div>
                        <span class="fw-bolder">{{ response.value }}</span>
                     </div>
                  {% endfor %}
               </div>
            {% endif %}
         </div>
      </div>
   {% else %}
      Aucune offre pour le moment !
   {% endfor %}
</div>
