{% extends 'front/template.html.twig' %}
{% block title %}{{ CONF.get('CONTACT_META_TITLE') }}{% endblock %}
{% block metaDescription %}{{ CONF.get('CONTACT_META_DESCRIPTION') }}{% endblock %}
{% block metaKeywords %}{{ CONF.get('CONTACT_META_KEYWORDS') }}{% endblock %}

{% block header %}
   <div id="slider-home">
      <div id="slider-slides">
         <img src="{{ asset('img/contact.jpg')|imagine_filter('full') }}">
         <div class="slider-titles">
            <div class="slider-title">Artemys
               <span class="fw300">Investissement</span>
            </div>
            <div class="slider-subtitle">{{ CONF.get('CONTACT_SLIDER_TITLE') }}</div>
         </div>
      </div>
   </div>
{% endblock %}

{% block breadcrumb %}
   <li class="breadcrumb-item active" aria-current="page">Contact</li>
{% endblock %}

{% block body %}
   <div class="bg-gray pt50 pt50" style="min-height: 1000px;">
      <div class="container">
         <div class="mb50 text-center">
            <div class="mb10">
               <i class="far fa-message fs50 text-primary fw300"></i>
            </div>
            <h2 class="fw300">Lorem ipsum dolor <br class="d-sm-none">
               <span class="fw900">consectetur adipisicing elit</span>
            </h2>
            <div class="text-italic c-6">Ab aliquam beatae consequatur, cum cupiditate dignissimos</div>
            <hr class="hr-center mt30">
         </div>
         {% include 'front/flash.html.twig' %}
         {{ form_start(form) }}
         {{ form_errors(form) }}
         <div class="row">
            <div class="col-12 col-md-6">
               {{ form_row(form.lastname) }}
            </div>
            <div class="col-12 col-md-6">
               {{ form_row(form.firstname) }}
            </div>
            <div class="col-12 col-md-6">
               {{ form_row(form.email) }}
            </div>
            <div class="col-12 col-md-6">
               {{ form_row(form.phone) }}
            </div>
            <div class="col-12">
               {{ form_row(form.text) }}
            </div>
            {% if ENV.prod %}
               <div class="col-12">
                  {{ form_row(form.captcha) }}
               </div>
            {% endif %}
            <div class="col-12">
               <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>
         </div>
         {{ form_end(form) }}
      </div>
   </div>
{% endblock %}
