{% extends 'front/template.html.twig' %}

{% block breadcrumb %}
   <li class="breadcrumb-item">Oups !</li>
{% endblock %}

{% block header %}
<div id="slider-home">
   <div id="slider-slides">
      <img src="{{ asset('img/1.jpg')|imagine_filter('full') }}">
      <div id="contact-us">
         <a href="{{ path('front_contact') }}">
            <div id="contact-us-text"><span class="fw300">Nous</span> contacter</div>
            <div id="contact-us-btn">
               <div id="contact-us-icon">
                  <i class="fa fa-arrow-right"></i>
               </div>
            </div>
         </a>
      </div>
   </div>
</div>
{% endblock %}

{% block body %}
   <div class="container pt100 pb100 text-center">
      <div class="fw900 fs30">Oups</div>
      <div>Une erreur s'est produite</div>
      <a href="{{ path('front_index') }}" class="{{ HTML.btnShow }} mt20">Retour à l'accueil</a>
   </div>
{% endblock %}
