{# {{ dump(app.flashes) }} #}
{#<div class="container">#}
   {% for label, messages in app.flashes %}
      {% for message in messages %}
         <div class="alert alert-{{ label }} d-flex align-items-center">
            {{ message|nl2br }}
         </div>
      {% endfor %}
   {% endfor %}
{#</div>#}
