{% extends 'front/template.html.twig' %}
{% block title %}{{ CONF.get('HOME_META_TITLE') }}{% endblock %}
{% block metaDescription %}{{ CONF.get('HOME_META_DESCRIPTION') }}{% endblock %}
{% block metaKeywords %}{{ CONF.get('HOME_META_KEYWORDS') }}{% endblock %}

{% block cssPage %}
   <style>
       .parallax {
           display: flex;
           background: fixed center no-repeat;
           background-size: cover;
           height: 500px;
           color: #fff;
           font-size: 2rem;
           justify-content: center;
           align-items: center;
           flex-direction: column;
           text-shadow: 0 2px 3px rgba(0, 0, 0, .5);
       }
   </style>
{% endblock %}

{% block header %}
   <div id="slider-home">
      <div id="slider-slides">
         <img src="{{ asset('img/1.jpg')|imagine_filter('full') }}" alt="Image de fond d'Artemys Investissement">
         <div class="slider-titles">
            <div class="slider-title">Artemys
               <span class="fw300">Investissement</span>
            </div>
            <div class="slider-subtitle">{{ CONF.get('HOME_SLIDER_TITLE') }}</div>
         </div>
      </div>
      <div id="contact-us">
         <a href="{{ path('front_contact') }}">
            <div id="contact-us-text">
               <span class="fw300">Nous</span>
               contacter
            </div>
            <div id="contact-us-btn">
               <div id="contact-us-icon">
                  <i class="fa fa-arrow-right"></i>
               </div>
            </div>
         </a>
      </div>
   </div>
{% endblock %}

{% block body %}
   <div class="bg-gray">
      <div class="container pt70 pb70">
         <div class="d-sm-flex align-items-center mb40">
            <div>
               <h1>
                  <div class="product-subtitle">Découvrez</div>
                  <div class="product-title">nos dernières offres</div>
               </h1>
               <div class="fs18 c-6">Le top de nos terrains actuellement</div>
            </div>
            <div class="ms-auto bold">
               <a href="#">
                  Voir toutes nos offres
                  <i class="fa-solid fa-arrow-up-right-from-square fs16"></i>
               </a>
            </div>
         </div>
         {% include 'front/card.html.twig' with {products: products} %}
      </div>
   </div>

   <div class="parallax" style="background-image: url({{ asset('img/2.jpg')|imagine_filter('parallax') }});" alt="Image en parallax pour les terrains Artemys">
      <div class="fw900">Artemys
         <span class="fw300">Investissement</span>
      </div>
      <div class="fs20 fw300">La qualité au service de vos envies</div>
   </div>

   <div class="container pt70 pb70">

      {#      <div class="p50 text-center"> #}
      {#         <div class="fw900" style="font-size: 240px">ARTEMYS</div> #}
      {#         <div style="font-size: 120px">Investissement</div> #}
      {#      </div> #}

      <div class="mb50 text-center">
         <div class="mb10">
            <i class="far fa-handshake fs50 text-primary fw300"></i>
         </div>
         <h2 class="fw300">Lorem ipsum dolor <br class="d-sm-none">
            <span class="fw900">consectetur adipisicing elit</span>
         </h2>
         <div class="text-italic c-6">Ab aliquam beatae consequatur, cum cupiditate dignissimos</div>
         <hr class="hr-center mt30">
      </div>

      <div class="d-lg-flex overflow-hidden" style="border:solid 1px #fff;">
         <div class="col col-xl-7 overflow-hidden p15 pr30">
            <h2 class="title">
               Notre démarche Qualité <br class="d-xxl-none">
               <span class="fw900">en 3 points simples et clairs !</span>
            </h2>
            <div class="mt50 mb30 d-flex">
               <div class="badge bg-secondary radius30 w40 h40 lh45 p0 mr20">
                  <i class="fa fa-home fs20"></i>
               </div>
               <div>
                  <div class="fw700">Property Management</div>
                  <div>Nullam sollicitudin blandit eros eu pretium.</div>
                  <div>Nullam maximus ultricies auctor.</div>
               </div>
            </div>
            <div class="mb30 d-flex">
               <div class="badge bg-warning radius30 w40 h40 lh45 p0 mr20">
                  <i class="fa fa-paperclip fs20"></i>
               </div>
               <div>
                  <div class="fw700">Property Management</div>
                  <div>Nullam sollicitudin blandit eros eu pretium.</div>
                  <div>Nullam maximus ultricies auctor.</div>
               </div>
            </div>
            <div class="d-flex">
               <div class="badge bg-danger radius30 w40 h40 lh45 p0 mr20">
                  <i class="fa fa-print fs20"></i>
               </div>
               <div>
                  <div class="fw700">Property Management</div>
                  <div>Nullam sollicitudin blandit eros eu pretium.</div>
                  <div>Nullam maximus ultricies auctor.</div>
               </div>
            </div>
            <div class="mt20 text-end">
               <a href="{{ path('front_contact') }}" class="btn btn-dark animate-btn">
                  Nous contacter
                  <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
         <div class="col col-xl-5 radius25 overflow-hidden d-flex object-fit-cover" style="height:500px;">
            <img src="{{ asset('img/proposer-son-terrain2.jpg')|imagine_filter('big') }}"
                 class="overflow-hidden object-fit-cover mr0" style="height:100%;"
                 alt="Image d'une négociation réussie et heureuse"
            >
         </div>
      </div>
   </div>
   <div class="parallax" style="background-image: url({{ asset('img/4.jpg')|imagine_filter('parallax') }});" alt="Image en parallax pour les lotissements Artemys">
      <div class="fw900">Artemys
         <span class="fw300">Investissement</span>
      </div>
      <div class="fs20 fw300">La qualité au service de vos envies</div>
   </div>

   <div class="bg-gray">
      <div class="container pt70 pb70">
         <div class="d-sm-flex align-items-center mb40">
            <div>
               <h1>
                  <div class="product-subtitle">Découvrez</div>
                  <div class="product-title">Nos terrains privilégiés</div>
               </h1>
               <div class="fs18 c-6">Le top de nos terrains actuellement</div>
            </div>
            <div class="ms-auto bold">
               <a href="#">
                  Voir toutes nos offres
                  <i class="fa-solid fa-arrow-up-right-from-square fs16"></i>
               </a>
            </div>
         </div>
         {% include 'front/card.html.twig' with {products: products, col: 'col-12 col-md-6 col-lg-3', isIcon: false} %}
      </div>
   </div>

   {% if partners|length %}
      <div class="container pt70 pb70">
         <div class="d-sm-flex align-items-center mb40">
            <div>
               <h2>
                  <div class="product-subtitle">Découvrez</div>
                  <div class="product-title">Nos partenaires</div>
               </h2>
            </div>
         </div>
         <div class="">
            {% for partner in partners %}
               {% set partnerImg %}
                  <img src="{{ partner.media.url|imagine_filter('thumb') }}"
                       class="m10 mt0" style="height:100px;"
                       alt="Image du partenaire {{ partner.name }}"
                  >
               {% endset %}
               {% if partner.url %}
                  <a href="{{ partner.url }}" target="_blank">{{ partnerImg }}</a>
               {% else %}
                  {{ partnerImg }}
               {% endif %}
            {% endfor %}
         </div>
      </div>
   {% endif %}
{% endblock %}
