{% set isMapListener = isMapListener is defined ? isMapListener : true %}

<div class="row">
    <div class="col-12 p0">
<div id="map2" class="col overflow-hidden" style="height: 1000px;"></div>
    </div>
</div>
{% block cssPage %}
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
         integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
         crossorigin=""/>

   <style>
       #map {
           /*box-shadow:0 -5px 0px 0px #eee;*/
           /*border-top: solid 15px #eee;*/
           /*border-bottom: solid 15px #eee;*/
       }
   </style>
{% endblock %}
{% block jsPage %}
   <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
           integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
           crossorigin=""></script>
   <script>
       // https://leafletjs.com/reference.html#marker
       // https://www.wrld3d.com/wrld.js/latest/docs/leaflet/L.Circle/
       // const apiKey = 'Uu4YxnqwmNr5zdPTPnte';
       // let token = 'pk.eyJ1IjoiY3BseDMwMDAiLCJhIjoiY2tzeXI5bjk5MXBsYTJxczJnNGRhZWtuZiJ9.0y8zwRXvbu1d76ty5NbP2g';
       let id2 = 'map2';
       let tokenActive2 = '';
       const mymap2 = L.map(id2, {
           center: [{{ cities.moyLat }}, {{ cities.moyLong }}],
           zoom: {{ cities.zoom }},
           scrollWheelZoom: false // bloque le zoom/dezoom via la molette de la souris
       });
       let textCoord2;
       // let osm = '<a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery ©';
       // let mapbox = '<a href="https://www.mapbox.com/">Mapbox</a>';

       L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=' + token, {
           attribution: '&copy; ' + osm + ' ' + mapbox,
           id: 'mapbox/streets-v11',
           accessToken: token,
           zoomOffset: -1,
           tileSize: 512,
           maxZoom: {{ cities.maxZoom }},
           minZoom: {{ cities.minZoom }}
       }).addTo(mymap2);

       L.control.scale().addTo(mymap2);

       {% for coord in cities.datas %}

       textCoord2 = '{{ coord.text }}' + `
       <div>
         <a href="{{ coord.link }}">Visualiser le bien</a>
       </div>
       <div>
         <a href="#card-product-{{ coord.className }}">Descendre</a>
       </div>`;

       function getPinClass(e) {
           return e.target.options.className;
       }
       {% if isMapListener %}
       L.marker([{{ coord.latitude }}, {{ coord.longitude }}], {
           className: '{{ coord.className }}',
           riseOnHover: true,
       })
           .on('click', function (e) {
               const className = getPinClass(e);
               const id = '#card-product-' + className;
               $('.js-card-product').removeClass('mapped');
               $(id).addClass('mapped');
               tokenActive2 = className;
           })
           .on('mouseover', function (e) {
               const className = getPinClass(e);
               const id = '#card-product-' + className;
               $('.js-card-product').removeClass('mapped');
               $(id).addClass('mapped');
               if (tokenActive2) {
                   $('#card-product-' + tokenActive2).addClass('mapped');
               }
           })
           .on('mouseout', function (e) {
               const className = getPinClass(e);
               if (className != tokenActive2) {
                   $('.js-card-product').removeClass('mapped');
               }
               if (tokenActive2) {
                   $('#card-product-' + tokenActive2).addClass('mapped');
               }
           })
           .on('popupclose', function () {
               $('.js-card-product').removeClass('mapped');
               tokenActive2 = '';
           })
           .bindPopup(textCoord2)
           .openPopup()
           .addTo(mymap2);
       {% else %}
       L.marker([{{ coord.latitude }}, {{ coord.longitude }}], {
           className: '{{ coord.className }}',
           riseOnHover: true,
       })
           .addTo(mymap2);
       {% endif %}

       {% endfor %}
   </script>
{% endblock %}
