<div class="container pt50 pb50">
   <div id="map" class="radius25 overflow-hidden" style="height: 500px;"></div>
   {{ dump(cities) }}
</div>
{% block cssPage %}
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
         integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
         crossorigin=""/>
   <link href="https://cdn.maptiler.com/maptiler-sdk-js/v1.1.1/maptiler-sdk.css" rel="stylesheet"/>
{% endblock %}
{% block jsPage %}
   <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
           integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
           crossorigin=""></script>

   <script src="https://cdn.maptiler.com/maptiler-sdk-js/v1.1.1/maptiler-sdk.umd.js"></script>
   <script src="https://cdn.maptiler.com/leaflet-maptilersdk/v1.0.0/leaflet-maptilersdk.js"></script>
   <script>
       // https://www.wrld3d.com/wrld.js/latest/docs/leaflet/L.Circle/
       const apiKey = 'Uu4YxnqwmNr5zdPTPnte';
       const map = L.map('map').setView(
           [
              {{ cities.moyLat }},
              {{ cities.moyLong }}
           ], {{ cities.zoom }}
       );
       let textCoord;
       L.maptilerLayer({
           attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
           style: L.MaptilerStyle.STREETS, //optional
           apiKey: apiKey,
       }).addTo(map);
       {% for coord in cities.datas %}
       textCoord = '{{ coord.text }}' + `<div><a href="{{ coord.link }}">Visualiser le bien</a></div>`
       L.circle([{{ coord.latitude }}, {{ coord.longitude }}], {
           color: '#da2128',
           fillColor: '#ffffff',
           fillOpacity: .5,
           opacity: 5,
           radius: 100,
           weight: 20,
           className: '{{ coord.className }}'
       })
           .on('click', function (e) {
               const className = e.target.options.className;
               const id = '#card-product-' + className;
               $('.js-card-product:not(' + id + ')').removeClass('mapped');
               $(id).toggleClass('mapped');
           })
           .bindPopup(textCoord)
           .openPopup()
           .addTo(map);
       {% endfor %}
   </script>
{% endblock %}
