{% set isMapListener = isMapListener is defined ? isMapListener : true %}
<div class="container pt50 pb50">
   <div class="mb50 text-center">
      <div class="mb10">
         <i class="far fa-map fs50 text-primary fw300"></i>
      </div>
      <h2 class="fw300">Lorem ipsum dolor <br class="d-sm-none">
         <span class="fw900">consectetur adipisicing elit</span>
      </h2>
      <div class="text-italic c-6">Ab aliquam beatae consequatur, cum cupiditate dignissimos</div>
      <hr class="hr-center mt30">
   </div>
   <div id="map" class="radius25 overflow-hidden" style="height: 500px;"></div>
</div>
{% block cssPage %}
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
         integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
         crossorigin=""/>

   <style>
       #map {
           /*box-shadow:0 -5px 0px 0px #eee;*/
           /*border-top: solid 15px #eee;*/
           /*border-bottom: solid 15px #eee;*/
       }
   </style>
{% endblock %}
{% block jsPage %}
   <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
           integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
           crossorigin=""></script>
   <script>
       // https://leafletjs.com/reference.html#marker
       // https://www.wrld3d.com/wrld.js/latest/docs/leaflet/L.Circle/
       const apiKey = 'Uu4YxnqwmNr5zdPTPnte';
       let token = 'pk.eyJ1IjoiY3BseDMwMDAiLCJhIjoiY2tzeXI5bjk5MXBsYTJxczJnNGRhZWtuZiJ9.0y8zwRXvbu1d76ty5NbP2g';
       let id = 'map';
       let tokenActive = '';
       const mymap = L.map(id, {
           center: [{{ cities.moyLat }}, {{ cities.moyLong }}],
           zoom: {{ cities.zoom }},
       });
       let textCoord;
       let osm = '<a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery ©';
       let mapbox = '<a href="https://www.mapbox.com/">Mapbox</a>';

       L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=' + token, {
           attribution: '&copy; ' + osm + ' ' + mapbox,
           id: 'mapbox/streets-v11',
           accessToken: token,
           zoomOffset: -1,
           tileSize: 512,
           maxZoom: {{ cities.maxZoom }},
           minZoom: {{ cities.minZoom }}
       }).addTo(mymap);

       L.control.scale().addTo(mymap);

       {% for coord in cities.datas %}

       textCoord = '{{ coord.text }}' + `
       <div>
         <a href="{{ coord.link }}">Visualiser le bien</a>
       </div>
       <div>
         <a href="#card-product-{{ coord.className }}">Descendre</a>
       </div>`;

       function getPinClass(e) {
           return e.target.options.className;
       }
       {% if isMapListener %}
       L.marker([{{ coord.latitude }}, {{ coord.longitude }}], {
           className: '{{ coord.className }}',
           riseOnHover: true,
       })
           .on('click', function (e) {
               const className = getPinClass(e);
               const id = '#card-product-' + className;
               $('.js-card-product').removeClass('mapped');
               $(id).addClass('mapped');
               tokenActive = className;
           })
           .on('mouseover', function (e) {
               const className = getPinClass(e);
               const id = '#card-product-' + className;
               $('.js-card-product').removeClass('mapped');
               $(id).addClass('mapped');
               if (tokenActive) {
                   $('#card-product-' + tokenActive).addClass('mapped');
               }
           })
           .on('mouseout', function (e) {
               const className = getPinClass(e);
               if (className != tokenActive) {
                   $('.js-card-product').removeClass('mapped');
               }
               if (tokenActive) {
                   $('#card-product-' + tokenActive).addClass('mapped');
               }
           })
           .on('popupclose', function () {
               $('.js-card-product').removeClass('mapped');
               tokenActive = '';
           })
           .bindPopup(textCoord)
           .openPopup()
           .addTo(mymap);
       {% else %}
       L.marker([{{ coord.latitude }}, {{ coord.longitude }}], {
           className: '{{ coord.className }}',
           riseOnHover: true,
       })
           .addTo(mymap);
       {% endif %}

       {% endfor %}
   </script>
{% endblock %}
