<nav>
   <div id="nav-full" class="container">
      <a href="{{ path('front_index') }}">
         <div id="logo-container">
            <div id="logo">
{#               <img src="{{ asset('logo_front.svg') }}" class="h70" alt="Logo Artemys Investissement">#}
               <img src="{{ asset('logo.png') }}" alt="Logo Artemys Investissement">
            </div>
{#            <div class="logo-text">Artemys Investissement</div>#}
         </div>
      </a>
      {% set menu %}
         <ul>
            {% for menu in MENU_FRONT.get %}
               <li>
                  <a href="{{ menu.link }}"
                     class="{{ menu.class }}" {{ menu.targetBank is defined ? 'target=_blank' : '' }}
                  >
                     {{ menu.name }}
                  </a>
               </li>
            {% endfor %}
         </ul>
      {% endset %}
      {{ menu }}
   </div>
   <div id="nav-mobile">
      <a href="{{ path('front_index') }}" class="d-flex">
         <div id="logo-container">
            <div id="logo">
{#               <img src="{{ asset('logo_front.svg') }}" class="h45" alt="Logo Artemys Investissement">#}
               <img src="{{ asset('logo.png') }}" alt="Logo Artemys Investissement">
            </div>
{#            <div class="logo-text">#}
{#               <div>Artemys</div>#}
{#               Investissement#}
{#            </div>#}
         </div>
      </a>
      <div class="d-flex justify-content-end text-end">
         <div id="js-nav" class="pointer pt10 pb10 p15"><i class="fa fa-bars"></i></div>
      </div>
   </div>
</nav>

<div id="nav-popin" class="d-none">
   <div id="nav-popin-header">
      <div id="nav-popin-title" class="ml20">Menu</div>
      <div id="nav-popin-close" class="pointer p20"><i class="fa fa-times"></i></div>
   </div>
   {{ menu }}
</div>
