{% extends 'front/template.html.twig' %}

{% block title %}
   {% if product.metaTitle %}
      {{ product.metaTitle }}
   {% else %}
      {{ product.name }} ({{ product.type.name }})
   {% endif %}
{% endblock %}
{% block metaDescription %}{{ product.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ product.metaKeywords }}{% endblock %}

{# {% block header %} #}
{#   <div class="full-screen full-screen-50"> #}
{#      <img src="{{ asset(product.firstPicture.url)|imagine_filter('full') }}"> #}
{#   </div> #}
{# {% endblock %} #}
{% block header %}
   <div id="slider-home">
      <div id="slider-slides">
         <img src="{{ asset(product.firstPicture.url)|imagine_filter('full') }}">
         <div class="slider-titles">
            <div class="slider-title">Artemys
               <span class="fw300">Investissement</span>
            </div>
            <div class="slider-subtitle">{{ product.name }}
               <span class="ml5 mr5">/</span>{{ product.cityZipcode }}</div>
         </div>
      </div>
      <div id="contact-us">
         <a href="{{ path('front_contact') }}">
            <div id="contact-us-text">
               <span class="fw300">Nous</span>
               contacter
            </div>
            <div id="contact-us-btn">
               <div id="contact-us-icon">
                  <i class="fa fa-arrow-right"></i>
               </div>
            </div>
         </a>
      </div>
   </div>
{% endblock %}

{% block breadcrumb %}
   <li class="breadcrumb-item">
      <a href="{{ path('front_product_type', {typeSlug:product.type.url}) }}">
         {{ product.type.name }}
      </a>
   </li>
   <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
{% endblock %}

{% block body %}
   <div class="bg-gray">
      <div class="container pt50 pb50">
         <div class="d-sm-flex align-items-center mb40">
            <div>
               <h1>
                  <div class="product-subtitle">Notre terrain</div>
                  <div class="product-title">{{ product.name }}</div>
               </h1>
               <div class="fs18 c-6">{{ product.cityZipcode }}</div>
            </div>
         </div>
         <div class="row">
            <div class="col-12 col-xl-6 mb-5">
               <div class="fs18">
                  {{ product.text|raw }}
               </div>
            </div>
            <div class="d-block d-xl-none mt40"></div>
            <div class="col-12 col-xl-6 mb-5 documents">
               <div class="documents-back">
                  <img src="{{ asset('img/folder.png')|imagine_filter('thumb_all') }}" class="w75p">
               </div>
               <div class="documents-content">
                  <div class="documents-title mb-4">
                     Nos
                     <span>documents</span>
                     {% if documents|length %}
                        <a href="{{ path('front_documents', {token: product.token}) }}"
                           class="btn btn-md btn-outline-warning p1 pl5 pr5 border-1 fs14"
                        >
                           Tout télécharger
                        </a>
                     {% endif %}
                  </div>
                  <div class="documents-type">
                     {% if documents|length %}
                        {% for type in documents %}
                           <div class="pb-4">
                              <div class="fs20 mb10 fw900 text-primary">
                                 <span class="fs24 mr10"><i class="{{ type.icon }}"></i></span>
                                 {{ type.name }}
                              </div>
                              {% for key, doc in type.documents %}
                                 <a href="{{ path('front_document', {token: doc.token}) }}"
                                    class="btn btn-outline-secondary m5 p5 pl10 pr10 border-1 fs14"
                                    download
                                 >
                                    Télécharger {{ type.documents|length > 1 ? ' ' ~  (key + 1) : '' }}
                                 </a>
                              {% endfor %}
                           </div>
                        {% endfor %}
                     {% else %}
                        <div class="pb-4 text-muted">Aucun document actuellement</div>
                     {% endif %}
                  </div>
                  {#                  <div class="documents-folder"> #}
                  {#                     <i class="far fa-folder"></i> #}
                  {#                  </div> #}
               </div>
            </div>


         </div>
      </div>
   </div>

   {% include 'front/map_v2.html.twig' with {isMapListener: false} %}

   <div class="bg-gray position-relative">
      <div class="container pt50 pb50">
         <div class="mb50">
            <h2 class="fw300">Lorem ipsum dolor <br class="d-sm-none">
               <span class="fw900">consectetur adipisicing elit</span>
            </h2>
            <div class="text-italic c-6">Ab aliquam beatae consequatur, cum cupiditate dignissimos</div>
            <hr class="hr w20p mt30">
         </div>
         <div class="row">
            <div class="col-12 mb-4">
               <img src="{{ asset(product.firstPicture.url)|imagine_filter('big') }}" class="w100p radius15">
            </div>
            {% for picture in product.pictures %}
               <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                  <a href="{{ asset(picture.url)|imagine_filter('big') }}" data-lightbox="roadtrip">
                     <img src="{{ asset(picture.url)|imagine_filter('thumb') }}" class="w100p radius5 mb-4">
                  </a>
               </div>
            {% endfor %}
         </div>
      </div>
   </div>


   {#   <div class=""> #}
   {#      <div class="container pt50"> #}
   {#         <div class="mb50"> #}
   {#            <h2 class="fw300">Lorem ipsum dolor <br class="d-sm-none"> #}
   {#               <span class="fw900">consectetur adipisicing elit</span> #}
   {#            </h2> #}
   {#            <div class="text-italic c-6">Ab aliquam beatae consequatur, cum cupiditate dignissimos</div> #}
   {#            <hr class="hr w20p mt30"> #}
   {#         </div> #}
   {#      </div> #}
   {#      <div class="d-flex flex-wrap"> #}
   {#         {% for picture in product.pictures %} #}
   {#            <div class="col-12 col-xl-6 overflow-hidden js-product-size"> #}
   {#               <a href="{{ path('front_document', {token: picture.token}) }}" data-lightbox="roadtrip"> #}
   {#                  <img src="{{ asset(picture.url)|imagine_filter('big') }}" class="w100p h100p object-fit-cover"> #}
   {#               </a> #}
   {#            </div> #}
   {#         {% endfor %} #}
   {#      </div> #}
   {#   </div> #}


   <div class="">
      <div class="container pt50">
         <div class="mb50">
            <h2 class="fw300">Lorem ipsum dolor <br class="d-sm-none">
               <span class="fw900">consectetur adipisicing elit</span>
            </h2>
            <div class="text-italic c-6">Ab aliquam beatae consequatur, cum cupiditate dignissimos</div>
            <hr class="hr w20p mt30">
         </div>
      </div>
      <div class="d-flex flex-wrap">
         {% for picture in product.pictures %}
            <div class="col-12 col-xl-6 overflow-hidden js-product-size">
               <a href="{{ asset(picture.url)|imagine_filter('big') }}" data-lightbox="roadtrip">
                  <img src="{{ asset( picture.url)|imagine_filter('big') }}" class="w100p h100p object-fit-cover">
               </a>
            </div>
         {% endfor %}
      </div>
   </div>
{% endblock %}
