{% extends 'front/template.html.twig' %}

{% block title %}
   {% if productType.metaTitle %}
      {{ productType.metaTitle }}
   {% else %}
      {{ productType.name }}
   {% endif %}
{% endblock %}
{% block metaDescription %}{{ productType.metaDescription }}{% endblock %}
{% block metaKeywords %}{{ productType.metaKeywords }}{% endblock %}

{% block header %}
   <div id="slider-home">
      <div id="slider-slides">
         <img src="{{ asset(productType.background)|imagine_filter('full') }}">
         <div class="slider-titles">
            <div class="slider-title">Artemys
               <span class="fw300">Investissement</span>
            </div>
            <div class="slider-subtitle">{{ productType.sliderTitle }}</div>
         </div>
      </div>
      <div id="contact-us">
         <a href="{{ path('front_contact') }}">
            <div id="contact-us-text">
               <span class="fw300">Nous</span>
               contacter
            </div>
            <div id="contact-us-btn">
               <div id="contact-us-icon">
                  <i class="fa fa-arrow-right"></i>
               </div>
            </div>
         </a>
      </div>
   </div>
{% endblock %}


{% block breadcrumb %}
   <li class="breadcrumb-item">{{ productType.name }}</li>
{% endblock %}


{% block body %}
   <div class="bg-gray">
      <div class="container pt50 pb50">
         <h1>
            <div class="product-subtitle">Nos offres
               <span class="fw900">{{ productType.name }}</span>
            </div>
            <div class="product-title">{{ productType.baseline }}</div>
         </h1>
         <div class="fs18">
            {{ productType.text|raw }}
         </div>
      </div>
   </div>

   {% if products|length %}
      {% include 'front/map_v2.html.twig' %}
      <div class="bg-gray">
         <div class="container pt50 pb50">
            <div class="mb50">
               <h2 class="fw300">Lorem ipsum dolor <br class="d-sm-none">
                  <span class="fw900">consectetur adipisicing elit</span>
               </h2>
               <div class="text-italic c-6">Ab aliquam beatae consequatur, cum cupiditate dignissimos</div>
               <hr class="hr w20p mt30">
            </div>
            {% include 'front/card.html.twig' with {
               products: products,
               justFirstPicture: true,
               col: 'col-12 col-md-6 col-xl-4'
            } %}
         </div>
      </div>
   {% else %}
      <div class="container pt75 pb75 text-center">
         Aucune offre pour le moment !
      </div>
   {% endif %}

{#   {% if products|length %}#}
{#      <div class="container-fluid pt30 pb30">#}
{#         <div class="row" style="height: 1000px;">#}
{#            <div class="col-12 col-xl-5">#}
{#               {% include 'front/map_v3.html.twig' %}#}
{#            </div>#}
{#            <div class="col-12 col-xl-7 pl30">#}
{#               {% include 'front/card_line.html.twig' with {#}
{#                  products: products,#}
{#                  justFirstPicture: true,#}
{#                  col: 'col-12 col-md-6 col-xl-4'#}
{#               } %}#}
{#            </div>#}
{#         </div>#}
{#      </div>#}
{#   {% else %}#}
{#      <div class="container pt75 pb75 text-center">#}
{#         Aucune offre pour le moment !#}
{#      </div>#}
{#   {% endif %}#}

{% endblock %}
