<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" href="{{ asset('logo_front.svg') }}">
{#      <link rel="icon" href="{{ asset('logo.jpg') }}">#}
      <title>{% block title %}Artemys{% endblock %}</title>
      <meta name="description" content="{% block metaDescription %}{% endblock %}">
      <meta name="keywords" content="{% block metaKeywords %}{% endblock %}">
      {% block stylesheets %}
         {{ encore_entry_link_tags('front') }}
      {% endblock %}
      {% block cssPage %}{% endblock %}
   </head>
   <body>
      <header>
         {% include 'front/nav.html.twig' %}
      </header>
      <main>
         {% block header %}
            <div class="bg-gray" style="height:400px;">&nbsp;</div>
         {% endblock %}
         {% if app.current_route != 'front_index' %}
            <nav aria-label="breadcrumb" class="container">
               <ol class="breadcrumb m0 py-3 bg-f">
                  <li class="breadcrumb-item"><a href="{{ path('front_index') }}">Accueil</a></li>
                  {% block breadcrumb %}{% endblock %}
               </ol>
            </nav>
         {% endif %}
         <div id="sidebar" class="d-none">{% block sidebar %}Coucou{% endblock %}</div>
         {% include 'admin/debug.html.twig' %}
         {% block body %}{% endblock %}
      </main>
      <footer>
         Footer
      </footer>
      {% block javascripts %}
         {{ encore_entry_script_tags('front') }}
         <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
      {% endblock %}
      {% block jsPage %}{% endblock %}
   </body>
</html>
