{% set size = size is defined ? size : '' %}
{% set isIcon = isIcon is defined ? isIcon : true %}
{% if USER.superAdmin %}
   <form method="post"
         action="{{ path('admin_product_delete', {token: product.token}) }}"
         class="d-inline-block"
   >
      <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
      {% if isIcon %}
         {{ delete() }}
      {% else %}
         <button type="button" class="{{ HTML.btnDelete(size) }} js-btn-delete">Supprimer</button>
      {% endif %}
   </form>
{% endif %}
