{% set route = ENV.route %}
<div class="card card-menu">
   <div class="card-body pb10">
      <a href="{{ path('admin_product_edit', {token: product.token}) }}"
         class="{{ HTML.btnLight('lg') }} btn-menu mb10 mr10 {{ 'plot' not in route ? 'active' : '' }}"
      >
         Informations générales
      </a>
      <a href="{{ path('admin_product_edit_plot', {token: product.token}) }}"
         class="{{ HTML.btnLight('lg') }} btn-menu mb10 mr10 {{ 'plot' in route ? 'active' : '' }}"
      >
         Liste des lots ({{ product.plots|length }})
      </a>
      <a href="{{ path('admin_product_folder', {token: product.token}) }}"
         class="{{ HTML.btnLight('lg') }} btn-menu mb10 {{ 'ref' in route ? 'active' : '' }}"
         target="_blank"
      >
         Visualiser le dossier
      </a>
   </div>
</div>
