{% set footerBtns %}
   <div class="card-footer">
      {{ submit(false) }}
      {{ submit(false, false) }}
      <a href="{{ path('admin_product_index') }}" class="{{ HTML.btnBack }}">Retour</a>
   </div>
{% endset %}
{{ form_start(form) }}
{{ form_row(form._token) }}
{{ form_row(form.token) }}
{{ form_errors(form) }}
<div class="row">
   <div class="col-12 col-xl-6">

      <div class="card">
         <div class="card-header">
            Informations générales
            {% set headerBtns %}
               <div class="card-header-options">
                  {{ submit() }}
                  {% if product.id %}
                     {{ visit(path('front_product', {typeSlug: product.type.url, productSlug: product.url})) }}
                  {% endif %}
                  {{ back(path('admin_product_index')) }}
               </div>
            {% endset %}
            {{ headerBtns }}
         </div>
         <div class="card-body">
            {{ form_row(form.name) }}
            {{ form_row(form.type) }}
            {{ form_row(form.city) }}
            {{ form_row(form.cityToken) }}
            {{ form_row(form.text) }}
            {{ form_row(form.available) }}
            {{ form_row(form.active) }}
         </div>
         {{ footerBtns }}
      </div>
      <div class="card">
         <div class="card-header">
            Questions / Réponses
            {{ headerBtns }}
         </div>
         <div class="card-body">
            {{ form_row(form.features) }}
            <div class="row">
               {% for response in form.responses %}
                  <div class="col-12 col-md-6 col-xxl-4 mb15">
                     <label class="form-label bold">{{ response.question.vars.data.name }}</label>
                     {{ form_widget(response.value) }}
                     {{ form_widget(response.question) }}
                     {{ form_help(form.responses) }}
                  </div>
               {% endfor %}
            </div>
         </div>
         {{ footerBtns }}
      </div>
   </div>
   <div class="col-12 col-xl-6">
      <div class="card">
         <div class="card-header">
            Images
            {{ headerBtns }}
         </div>
         <div class="card-body">
            {{ form_row(form.pictures) }}
            <div id="js-pictures-ajax">
               {% include 'admin/product/picture.html.twig' %}
            </div>
         </div>
         {{ footerBtns }}
      </div>
      <div class="card">
         <div class="card-header">
            Plaquettes commerciales
            {{ headerBtns }}
         </div>
         <div class="card-body">
            {{ form_row(form.brochures) }}
            <div id="js-brochures-ajax">
               {% include 'admin/product/document.html.twig' with {documents: product.brochures} %}
            </div>
         </div>
         {{ footerBtns }}
      </div>
      <div class="card">
         <div class="card-header">
            Plans
            {{ headerBtns }}
         </div>
         <div class="card-body">
            {{ form_row(form.plans) }}
            <div id="js-plans-ajax">
               {% include 'admin/product/document.html.twig' with {documents: product.plans} %}
            </div>
         </div>
         {{ footerBtns }}
      </div>
      <div class="card">
         <div class="card-header">Référencement</div>
         <div class="card-body">
            {{ form_row(form.metaTitle) }}
            {{ form_row(form.metaDescription) }}
            {{ form_row(form.metaKeywords) }}
         </div>
         {{ footerBtns }}
      </div>
   </div>
</div>
{{ form_end(form, {render_rest: false}) }}
