{% set displayType = displayType is defined ? displayType : true %}
{% set displayUrl = displayUrl is defined ? displayUrl : true %}
{% set isFromProductType = isFromProductType is defined ? isFromProductType : false %}
<table class="table table-bordered table-striped table-hover">
   <thead>
      <tr>
         <th>Image</th>
         <th>Nom</th>
         {% if displayType %}
            <th>Type</th>
         {% endif %}
         {% if displayUrl %}
            <th>Url</th>
         {% endif %}
         <th>Caractéristiques</th>
         <th class="text-center">Images</th>
         <th class="text-center">Actif</th>
         <th>Options</th>
      </tr>
   </thead>
   <tbody>
      {% for product in products %}
         <tr>
            <td class="min">
               <img src="{{ asset(product.firstPicture.url)|imagine_filter('thumb30') }}" height="30">
            </td>
            <td>
               <a href="{{ path('admin_product_edit', {token: product.token}) }}"
                       {% if not product.active %}
                          data-bs-toggle="tooltip"
                          title="Non visible sur le site Internet"
                          data-bs-placement="right"
                          class="text-danger"
                       {% endif %}
               >
                  {% if not product.active %}
                     <i class="ri-alarm-warning-line"></i>
                  {% endif %}
                  {{ product.name }}
               </a>
            </td>
            {% if displayType %}
               <td>{{ product.type.name }}</td>
            {% endif %}
            {% if displayUrl %}
               <td>
                  <a href="{{ path('front_product', {typeSlug: product.type.url, productSlug: product.url}) }}" target="_blank">
                     /{{ product.type.url }}/{{ product.url }}
                  </a>
               </td>
            {% endif %}
            </td>
            <td class="pb3">
               {% for feature in product.features %}
                  <span class="child">{{ feature.name }}</span>
               {% endfor %}
            </td>
            <td class="min text-center">{{ product.pictures|length }}
            <td class="min text-center pl20 pr20">{{ product.active|yesNo(false) }}
            <td class="min">
{#               {{ show(path('admin_product_show', {token: product.token})) }}#}
               {{ update(path('admin_product_edit', {token: product.token})) }}
               {{ visit(path('front_product', {typeSlug: product.type.url, productSlug: product.url})) }}
               {% if not isFromProductType %}
                  {% include 'admin/product/_delete_form.html.twig' with {size: 'xs'} %}
               {% endif %}
            </td>
         </tr>
      {% else %}
         <tr>
            <td colspan="20">Aucun bien</td>
         </tr>
      {% endfor %}
   </tbody>
</table>
