<div id="city-results-header">
   {% if nbCities > nbDisplayed %}
      <span>{{ nbDisplayed }} résultats affichés sur</span>
   {% endif %}
   {{ nbCities }}
   {% if nbCities <= nbDisplayed %}
      résultats
   {% endif %} trouvés
</div>
<hr class="m0">
<div id="city-results-body">
   {% for city in cities %}
      <div class="city-results-body-city js-city"
           data-token="{{ city.token }}"
           data-name="{{ city.name }}"
      >
         {{ city.name }}
      </div>
   {% endfor %}
</div>
{% if nbCities > nbDisplayed %}
   <div id="city-results-footer">
      <hr class="m0">
      <div>Affiner votre recherche...</div>
   </div>
{% endif %}
