{% for document in documents %}
   <div class="position-relative mr5 d-inline-block">
      <a href="{{ asset(document.url) }}" class="color-3">
         <i class="ri-file-pdf-2-line fs64 color-6"></i>
      </a>
      <div class="position-absolute"
           data-product-token="{{ product.token }}"
           data-token="{{ document.token }}"
           style="top:2px;right:2px;"
      >
         <button type="button" class="{{ HTML.btnDelete('xs', false) }} js-delete-product-media"
                 data-product-token="{{ product.token }}"
                 data-token="{{ document.token }}"
         >
            <i class="ri-close-line fs12"></i>
         </button>
      </div>
   </div>
{% endfor %}
