{% extends 'admin/template.html.twig' %}

{% block pageName %}
   {{ product.name }}
{% endblock %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_product_index') }}">Biens</a></li>
   <li class="breadcrumb-item-to-delete">{{ product.name }}</li>
{% endblock %}
{% block breadcrumbButtons %}
   <button class="{{ HTML.btnSave('xs') }} js-btn-submit">Enregistrer</button>
   <a href="{{ path('front_product', {typeSlug: product.type.url, productSlug: product.url}) }}"
      class="btn btn-xs btn-outline-secondary"
      target="_blank"
   >
      Voir la page
   </a>
   {% include 'admin/product/_delete_form.html.twig' with {size: 'xs', isIcon: false} %}
{% endblock %}

{% block body %}
   {% if not product.active %}
      {{ alert("Le bien n'est actuellement pas visible sur le site Internet") }}
   {% endif %}
   {{ include('admin/product/_edit_menu.html.twig') }}
   {{ include('admin/product/_form.html.twig') }}
{% endblock %}

{% block jsPage %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.7.0/tinymce.min.js"></script>
   <script>
       tinymce.init({
           selector: 'textarea.tinymce',
           height: 300,
           toolbar: 'undo redo | bold italic | forecolor',
           statusbar: false,
           menubar: false,
           forced_root_block: 'p',
           content_style: `
            body {
               font-family: Calibri;
               font-size:14px;
            }`
       });
   </script>
{% endblock %}
