{% extends 'admin/template.html.twig' %}
{% block pageName %}
   Liste des biens
{% endblock %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete active">Biens</li>
{% endblock %}
{% block breadcrumbButtons %}
   <a href="{{ path('admin_product_new') }}" class="{{ HTML.btnAdd('xs') }}">Créer</a>
{#   <a href="javascript:void(0);" class="{{ HTML.btnOption('xs') }} js-btn-filter">#}
{#      Filtres#}
{#   </a>#}
{% endblock %}

{% block body %}
   <div class="card">
      {{ form_start(form) }}
      <div class="card-header">Filtres</div>
      <div class="card-body pb0">
         <div class="row">
            {{ form_rest(form) }}
         </div>
      </div>
      <div class="card-footer">
         <input type="submit" value="Rechercher" class="{{ HTML.btnShow('xs') }} btn-xs">
      </div>
      {{ form_end(form) }}
   </div>
   <div class="card">
      <div class="card-header">Biens ({{ nbPoducts }})</div>
      <div class="card-body">
         <div class="table-responsive">
            {% include 'admin/product/_index.html.twig' %}
            {{ knp_pagination_render(products) }}
         </div>
      </div>
   </div>
{% endblock %}
