{% extends 'admin/template.html.twig' %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_product_index') }}">Biens</a></li>
   <li class="breadcrumb-item-to-delete active">Nouveau bien</li>
{% endblock %}

{% block body %}
   {{ include('admin/product/_form.html.twig') }}
{% endblock %}

{% block jsPage %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.7.0/tinymce.min.js"></script>
   <script>
       tinymce.init({
           selector: 'textarea.tinymce',
           height: 300,
           toolbar: 'undo redo | bold italic | forecolor',
           statusbar: false,
           menubar: false,
           forced_root_block: 'p',
           content_style: `
            body {
               font-family: Calibri;
               font-size:14px;
            }`
       });
   </script>
{% endblock %}
