{% set nbPictures = product.pictures|length %}
<div class="d-block" id="js-pictures">
   {% for picture in product.pictures %}
      <div class="position-relative mr5 mb5 d-inline-block">
         <img src="{{ asset(picture.url)|imagine_filter('thumb') }}" class="h100">
         <div class="position-absolute t2 r2">
            {% if not loop.first and nbPictures > 1 %}
               <button type="button" class="{{ HTML.btnOption('xs', false) }} js-product-order"
                       data-product-token="{{ product.token }}"
                       data-token="{{ picture.token }}"
                       data-direction="up"
               >
                  <i class="ri-arrow-left-line fs12"></i>
               </button>
            {% endif %}
            {% if not loop.last and nbPictures > 1 %}
               <button type="button" class="{{ HTML.btnOption('xs', false) }} js-product-order"
                       data-product-token="{{ product.token }}"
                       data-token="{{ picture.token }}"
                       data-direction="down"
               >
                  <i class="ri-arrow-right-line fs12"></i>
               </button>
            {% endif %}
            {% if nbPictures > 1 %}
               <button type="button" class="{{ HTML.btnDelete('xs', false) }} js-delete-product-media js-is-picture"
                       data-product-token="{{ product.token }}"
                       data-token="{{ picture.token }}"
               >
                  <i class="ri-close-line fs12"></i>
               </button>
            {% endif %}
         </div>
{#         <div>{{ picture.token }}</div>#}
      </div>
   {% endfor %}
</div>
