{% extends 'admin/template.html.twig' %}
{% set footerBtns %}
   <div class="card-footer">
      {{ submit(false) }}
      {{ submit(false, false) }}
{#      <button class="{{ HTML.btnSave('sm') }}">Enregistrer</button>#}
      <a href="{{ path('admin_product_index') }}" class="{{ HTML.btnBack }}">Retour</a>
   </div>
{% endset %}
{% block pageName %}
   {{ product.name }}
{% endblock %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_product_index') }}">Biens</a></li>
   <li class="breadcrumb-item-to-delete">
      <a href="{{ path('admin_product_edit', {token: product.token}) }}">{{ product.name }}</a></li>
   <li class="breadcrumb-item-to-delete active">Liste des lots</li>
{% endblock %}
{% block breadcrumbButtons %}
   <button class="{{ HTML.btnSave('xs') }} js-btn-submit">Enregistrer</button>
   <a href="{{ path('front_product', {typeSlug: product.type.url, productSlug: product.url}) }}"
      class="btn btn-xs btn-outline-secondary"
      target="_blank"
   >
      Voir la page
   </a>
   {% include 'admin/product/_delete_form.html.twig' with {size: 'xs', isIcon: false} %}
{% endblock %}

{% block body %}
   {{ include('admin/product/_edit_menu.html.twig') }}
   {{ form_start(form) }}
   <div class="card">
      <div class="card-header">
         Liste des lots ({{ product.plots|length }})
         <div class="card-header-options">
            <button type="button" class="{{ HTML.btnAdd('xs') }}" id="js-product-plot-add">Ajouter</button>
         </div>
      </div>
      <div class="card-body">
         <div id="js-product-plots"
              data-prototype="{{ form_widget(form.plots.vars.prototype)|e }}"
              data-index="{{ form.plots|length }}"
         >
            <div id="js-product-plots-content">
               {% for plot in form.plots %}
                  {{ form_row(plot) }}
               {% endfor %}
               <div id="js-product-no-plot" class="{{ product.plots|length ? 'd-none' : '' }}">
                  <div class="bold">Aucun lot actuellement.</div>
                  <div>Pour en ajouter, cliquer sur le bouton "Ajouter" en haut à droite.</div>
               </div>
            </div>
         </div>
      </div>
      {{ footerBtns }}
   </div>
   {{ form_end(form) }}
{% endblock %}

{# {% block jsPage %} #}
{#   <script src="{{ asset('/js/admin/product/plot.js') }}" defer></script> #}
{# {% endblock %} #}
