{% extends 'admin/template.html.twig' %}
{% block pageName %}
   Liste des biens
{% endblock %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_product_index') }}">Biens</a></li>
   <li class="breadcrumb-item-to-delete active">{{ product.name }}</li>
{% endblock %}
{% block breadcrumbButtons %}
   {% include 'admin/product/_delete_form.html.twig' with {size: 'xs', isIcon: false} %}
{% endblock %}

{% block body %}
   <div class="card">
      <div class="card-header">Informations générales</div>
      <div class="card-body">
         <div class="mb20">
            <div class="fw-bold">Type</div>
            <div class="mt-1">
               {{ product.type.name }}
            </div>
         </div>
         <div class="mb20">
            <div class="fw-bold">Caractéristiques</div>
            <div class="mt-1">
               {% for feature in product.features %}
                  <div>{{ feature.name }}</div>
               {% endfor %}
            </div>
         </div>
         <div class="mb20">
            <div class="fw-bold">Questions/réponses</div>
            <div class="mt-1">
               {% for response in product.responses %}
                  <div>{{ response.question.name }} : {{ response.value }}</div>
               {% endfor %}
            </div>
         </div>
         <div id="js-pictures-ajax">
            {% include 'admin/product/picture.html.twig' %}
         </div>
      </div>
      <div class="card-footer">
         <a href="{{ path('admin_product_edit', {token: product.token}) }}" class="{{ HTML.btnUpdate }}">
            Modifier
         </a>
         <a href="{{ path('admin_product_index') }}" class="{{ HTML.btnBack }}">
            Retour
         </a>
      </div>
   </div>
{% endblock %}
