{% extends 'admin/template.html.twig' %}
{% block pageName %}
   Contacts
{% endblock %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete active">Contacts</li>
{% endblock %}
{% set queryParams = app.request.query.all|url_encode %}

{# {% block breadcrumbButtons %} #}
{# <button type="button" class="js-btn-filter">Coucou</button> #}
{# {% endblock %} #}

{% block body %}

   <div class="card">
      <div class="card-header">Contacts ({{ nbCustomers }})</div>
      <div class="card-body">
         <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
               <thead>
                  <tr>
                     <th>Nom</th>
                     <th>Email</th>
                     <th>Téléphone</th>
                     {#                     <th>Message</th> #}
                     <th>Date</th>
                     <th class="text-center">Options</th>
                  </tr>
               </thead>
               <tbody>
                  {% for customer in customers %}
                     <tr>
                        <td>
                           <a href="javascript:void(0);"
                              class="js-btn-customer-show"
                              data-token="{{ customer.token }}"
                              data-query="{{ queryParams }}"
                           >
                              {{ customer.name(false) }}
                           </a>
                        </td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.phone|phone }}</td>
                        {#                        <td class="min">{{ customer.text|intro(100) }}</td> #}
                        <td class="min">{{ customer.createdAt|dateHeure }}</td>
                        <td class="min text-center">
                           <button class="{{ HTML.btnShow('xs') }} js-btn-customer-show"
                                   data-token="{{ customer.token }}"
                                   data-query="{{ queryParams }}"
                           >
                              <i class="ri-eye-line"></i>
                           </button>
                        </td>
                     </tr>
                  {% else %}
                     <tr>
                        <td colspan="20">Aucun contact</td>
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
            {{ knp_pagination_render(customers) }}
         </div>
      </div>
   </div>
{% endblock %}
