{% set size = size is defined ? size : '' %}
{% set isIcon = isIcon is defined ? isIcon : true %}
{% set query = app.request.query.all %}
<div class="mb20 mb5">
   <div class="fs16 bold text-primary">
      {{ customer.name }}
   </div>
   <div class="color-9">{{ customer.createdAt|dateHeure }}</div>
</div>
<div class="mb20">
   <table>
      <tr>
         <th class="pr20">Email</th>
         <td>
            <a href="mailto:{{ customer.email }}">
               {{ customer.email }}
            </a>
         </td>
      </tr>
      <tr>
         <th>Tél.</th>
         <td>{{ customer.phone|phone }}</td>
      </tr>
   </table>
</div>
<div class="mb20">
   {{ customer.text|nl2br }}
</div>
{% if USER.superAdmin %}
   <form method="post"
         action="{{ path('admin_customer_delete', {token: customer.token}) }}{{ query ? '?' ~ query|url_encode : '' }}"
         class="d-inline-block"
   >
      <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.token) }}">
      <button type="button" class="{{ HTML.btnDelete('sm') }} d-block js-btn-delete">Supprimer</button>
   </form>
{% endif %}
