{% set route = ENV.route %}
<div class="card card-menu">
   <div class="card-body pb10">
      <a href="{{ path('admin_webmaster_conf') }}"
         class="btn btn-outline-secondary btn-menu mb10 mr10 {{ 'conf' in route ? 'active' : '' }}"
      >
         CONFIGURATIONS
      </a>
      <a href="{{ path('admin_webmaster_log_index') }}"
         class="btn btn-outline-secondary btn-menu mb10 {{ 'log' in route ? 'active' : '' }}"
      >
         LOG
      </a>
   </div>
</div>
