{% extends 'admin/template.html.twig' %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete active">Webmaster</li>
{% endblock %}

{% block body %}
   {% include'admin/webmaster/_menu.html.twig' %}
   {{ form_start(form) }}
   <div class="card">
      <div class="card-header">Configuration</div>
      <div class="card-body">
         {{ form(form.configurations) }}
         {{ form_row(form._token) }}
      </div>
      <div class="card-footer">
         <button class="{{ HTML.btnSave('sm') }}">Enregistrer</button>
         <a href="{{ path('admin_product_index') }}" class="{{ HTML.btnBack }}">Retour</a>
      </div>
   </div>
   {{ form_end(form) }}
{% endblock %}
