{% extends 'admin/template.html.twig' %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete active">Webmaster</li>
{% endblock %}

{% block body %}
   {% include'admin/webmaster/_menu.html.twig' %}
{% endblock %}
