{% extends 'admin/template.html.twig' %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_webmaster_index') }}">Webmaster</a></li>
   <li class="breadcrumb-item-to-delete active">Logs</li>
{% endblock %}

{% block body %}
   {% include'admin/webmaster/_menu.html.twig' %}
   <div class="card">
      <div class="card-header">Liste des fichiers</div>
      <div class="card-body">
         {% for file in files %}
            <div class="log-file">
               <a href="{{ path('admin_webmaster_log_delete', {path: file}) }}" class="log-file-delete">
                  <i class="fa fa-times fs11 text-danger"></i>
               </a>
               <a href="{{ path('admin_webmaster_log_read', {path: file}) }}" class="log-file-text" target="_blank">
                  {{ file }}
               </a>
               <div class="clear"></div>
            </div>
         {% endfor %}
      </div>
   </div>
   <div class="card">
      <div class="card-header">Liste des logs</div>
      <div class="card-body">
         {% for year, dataYear in logFiles %}
            {% for month, dataMonth in dataYear %}
               <div class="month radius">{{ ENV.getMonth(month) }} {{ year }}</div>
               <div class="mt10 ml20">
                  {% for day, envs in dataMonth %}
                     <div class="day radius">{{ day }} {{ ENV.getMonth(month, true) }} {{ year }}</div>
                     <div class="mt10 ml20">
                        {% for env, data in envs %}
                           <div class="env radius {{ env | lower }}">{{ env | lower }}.log
                              <span class="ml10">{{ day }} {{ ENV.getMonth(month, true) }} {{ year }}</span>
                              <a href="{{ path('admin_webmaster_log_read', {path: data.filename}) }}"
                                 class="ml20 btn btn-xs btn-white"
                                 target="_blank">
                                 Voir
                              </a>
                              <a href="{{ path('admin_webmaster_log_delete', {path: data.link}) }}"
                                 class="fr btn btn-xs btn-outline-danger">
                                 Supprimer
                              </a>
                           </div>
                           <div class="lines radius">
                              {% for line in data.lines %}
                                 <div class="pt20">
                                    <div class="type-hour">
                                       <span class="type-hour-child radius3 {{ line.isCritical ? 'log-critical' : '' }}">
                                          <span>{{ line.hour }}</span>
                                          <span class="pl5">
                                             {{ line.errorType }}
                                          </span>
                                       </span>
                                    </div>
                                    {{ line.text | raw }}
                                 </div>
                              {% endfor %}
                           </div>
                        {% endfor %}
                     </div>
                  {% endfor %}
               </div>
            {% endfor %}
         {% endfor %}
      </div>
   </div>
{% endblock %}
