{{ form_start(form) }}
<div class="row">
   <div class="col-12 col-xl-6">
      <div class="card">
         <div class="card-header">
            Cactéristiques
            {% set headerBtns %}
               <div class="card-header-options">
                  {{ submit() }}
                  {{ back(path('admin_feature_index')) }}
               </div>
            {% endset %}
            {{ headerBtns }}
         </div>
         <div class="card-body">
            {{ form_widget(form) }}
         </div>
         <div class="card-footer">
            <button class="{{ HTML.btnSave('sm') }}">Enregistrer</button>
            <a href="{{ path('admin_feature_index') }}" class="{{ HTML.btnBack }}">Retour</a>
         </div>
      </div>
   </div>
</div>
{{ form_end(form) }}
