{% extends 'admin/template.html.twig' %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_feature_index') }}">Caractéristiques</a></li>
   <li class="breadcrumb-item-to-delete">{{ feature.name }}</li>
{% endblock %}

{% block breadcrumbButtons %}
   <button class="{{ HTML.btnSave('xs') }} js-btn-submit">Enregistrer</button>
   {% include 'admin/feature/_delete_form.html.twig' with {size: 'xs', isIcon: false} %}
{% endblock %}

{% block body %}
   {{ include('admin/feature/_form.html.twig') }}
{% endblock %}
