{% extends 'admin/template.html.twig' %}
{% block pageName %}
   Caractéristiques
{% endblock %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete active">Caractéristiques</li>
{% endblock %}
{% block breadcrumbButtons %}
   <a href="{{ path('admin_feature_new') }}" class="{{ HTML.btnAdd('xs') }}">Créer</a>
{% endblock %}

{% block body %}
   <div class="card">
      <div class="card-header">Caractéristiques</div>
      <div class="card-body">
         <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
               <thead>
                  <tr>
                     <th>Id</th>
                     <th>Nom</th>
                     <th>Options</th>
                  </tr>
               </thead>
               <tbody>
                  {% for feature in features %}
                     <tr>
                        <td class="min">{{ feature.id }}</td>
                        <td>
                           <a href="{{ path('admin_feature_edit', {token: feature.token}) }}">
                           {{ feature.name }}
                           </a>
                        </td>
                        <td class="min">
{#                           {{ show(path('admin_feature_show', {token: feature.token})) }}#}
                           {{ update(path('admin_feature_edit', {token: feature.token})) }}
                           <form class="d-inline-block" method="post" action="{{ path('admin_feature_delete', {token: feature.token}) }}">
                              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ feature.id) }}">
                              {{ delete() }}
                           </form>
                        </td>
                     </tr>
                  {% else %}
                     <tr>
                        <td colspan="20">Aucune caractéristique</td>
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
{% endblock %}
