{% extends 'admin/template.html.twig' %}

{% block pageName %}Nouvelle caractéristique{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_feature_index') }}">Caractéristiques</a></li>
    <li class="breadcrumb-item-to-delete active">Nouvelle caractéristique</li>
{% endblock %}

{% block body %}
    {{ include('admin/feature/_form.html.twig') }}
{% endblock %}
