{% extends 'admin/template.html.twig' %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_feature_index') }}">Caractéristiques</a></li>
   <li class="breadcrumb-item-to-delete active">{{ feature.name }}</a>
{% endblock %}

{% block breadcrumbButtons %}
   {% include 'admin/feature/_delete_form.html.twig' with {size: 'xs', isIcon: false} %}
{% endblock %}

{% block body %}
   <div class="row">
      <div class="col-12 col-xl-6">
         <div class="card">
            <div class="card-header">Cactéristiques</div>
            <div class="card-body">
               <table class="table table-bordered table-striped table-hover">
                  <thead>
                     <tr>
                        <th class="min pr40">Intitulé</th>
                        <th>Réponse</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td class="bold pr20">Nom</td>
                        <td>{{ feature.name }}</td>
                     </tr>
                     <tr>
                        <td class="bold pr20">Actif</td>
                        <td>{{ feature.active|yesNo }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="card-footer">
               <a href="{{ path('admin_feature_edit', {token: feature.token}) }}" class="{{ HTML.btnUpdate }}">Modifier</a>
               <a href="{{ path('admin_feature_index') }}" class="{{ HTML.btnBack }}">Retour</a>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
