{% extends 'admin/email/template_email.html.twig' %}

{% block body %}
   <div class="margin2 center">
      <div class="bold">
         Un nouvel utilisateur vient d'être créé.
      </div>
   </div>
   <div class="center">
      <div class="margin1">
         <div class="bold">Nom</div>
         <div>{{ user.name }}</div>
      </div>
      <div class="margin1">
         <div class="bold">Fonction</div>
         <div>{{ user.jobName }}</div>
      </div>
      <div class="margin1">
         <div class="bold">Téléphone</div>
         <div>{{ user.phone|phone }}</div>
      </div>
      <div class="margin1">
         <div class="bold">Email</div>
         <div>{{ user.email }}</div>
      </div>
   </div>
{% endblock %}
