{{ form_start(form) }}
<div class="row">
   <div class="col-12 col-xl-6">
      <div class="card">
         <div class="card-header">
            Informations générales
            {% set headerBtns %}
               <div class="card-header-options">
                  {{ submit() }}
                  {{ back(path('admin_partner_index')) }}
               </div>
            {% endset %}
            {{ headerBtns }}
         </div>
         <div class="card-body">
            {{ form_row(form.name) }}
            {{ form_row(form.url) }}
            {{ form_row(form.active) }}
         </div>
         <div class="card-footer">
            <button class="{{ HTML.btnSave('sm') }}">Enregistrer</button>
            <a href="{{ path('admin_partner_index') }}" class="{{ HTML.btnBack }}">Retour</a>
         </div>
      </div>
   </div>

   <div class="col-12 col-xl-6">
      <div class="card">
         <div class="card-header">
            Image de fond
            {{ headerBtns }}
         </div>
         <div class="card-body">
            {{ form_row(form.background) }}
            {% if partner.media %}
               <img src="{{ asset(partner.media.url)|imagine_filter('thumb') }}" class="h100">
            {% endif %}
         </div>
         <div class="card-footer">
            <button class="{{ HTML.btnSave('sm') }}">Enregistrer</button>
            <a href="{{ path('admin_partner_index') }}" class="{{ HTML.btnBack }}">Retour</a>
         </div>
      </div>
   </div>
</div>
{{ form_end(form) }}
