{% extends 'admin/template.html.twig' %}
{% block pageName %}
    {{ partner.name }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_partner_index') }}">Partenaires</a></li>
    <li class="breadcrumb-item-to-delete">{{ partner.name }}</li>
{% endblock %}

{% block breadcrumbButtons %}
    <button class="{{ HTML.btnSave('xs') }} js-btn-submit">Enregistrer</button>
    {% include 'admin/partner/_delete_form.html.twig' with {size: 'xs', isIcon: false} %}
{% endblock %}

{% block body %}
    {{ include('admin/partner/_form.html.twig') }}
{% endblock %}

{% block jsPage %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.7.0/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea.tinymce',
            height: 300,
            toolbar: 'undo redo | bold italic | forecolor',
            statusbar: false,
            menubar: false,
            forced_root_block: 'p',
            content_style: `
            body {
               font-family: Calibri;
               font-size:14px;
            }`
        });
    </script>
{% endblock %}

