{% extends 'admin/template.html.twig' %}
{% block pageName %}
   Liste des partenaires
{% endblock %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete active">Partenaires</li>
{% endblock %}
{% block breadcrumbButtons %}
   <a href="{{ path('admin_partner_new') }}" class="{{ HTML.btnAdd('xs') }}">Créer</a>
{% endblock %}

{% block body %}
   <div class="card">
      <div class="card-header">Partenaires ({{ partners|length }})</div>
      <div class="card-body">
         <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
               <thead>
                  <tr>
                     <th>Image</th>
                     <th>Nom</th>
                     <th class="text-center">Actif</th>
                     <th>Options</th>
                  </tr>
               </thead>
               <tbody>
                  {% for partner in partners %}
                     <tr>
                        <td class="min">
                           <img src="{{ asset(partner.media.url)|imagine_filter('thumb30') }}" height="30">
                        </td>
                        <td>
                           <a href="{{ path('admin_partner_edit', {token: partner.token}) }}"
                                   {% if not partner.active %}
                                      data-bs-toggle="tooltip"
                                      title="Non visible sur le site Internet"
                                      data-bs-placement="right"
                                      class="text-danger"
                                   {% endif %}
                           >
                              {% if not partner.active %}
                                 <i class="ri-alarm-warning-line"></i>
                              {% endif %}
                              {{ partner.name }}
                           </a>
                        </td>
                        <td class="min text-center pl20 pr20">{{ partner.active|yesNo(false) }}</td>
                        <td class="min">
{#                           {{ show(path('admin_partner_show', {token: partner.token})) }}#}
                           {{ update(path('admin_partner_edit', {token: partner.token})) }}
                           {% include 'admin/partner/_delete_form.html.twig' with {size: 'xs'} %}
                        </td>
                     </tr>
                  {% else %}
                     <tr>
                        <td colspan="20">Aucun partenaire</td>
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <div class="card">
      <div class="card-header yellow">Informations</div>
      <div class="card-body">
         <div>Les partenaires sont affichés tout en bas de la page d'accueil du site Internet.</div>
         <div>Si aucun partenaire, ou qu'aucun n'est actif, le bloc n'est alors pas affiché.</div>
      </div>
   </div>
{% endblock %}
