{% extends 'admin/template.html.twig' %}
{% block breadcrumb %}
    <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_partner_index') }}">Partenaires</a></li>
    <li class="breadcrumb-item-to-delete active">Nouveau partenaire</li>
{% endblock %}

{% block body %}
    {{ include('admin/partner/_form.html.twig') }}
{% endblock %}
