{% extends 'admin/template.html.twig' %}
{% block pageName %}
   {{ partner.name }}
{% endblock %}
{% block breadcrumb %}
   <li class="breadcrumb-item-to-delete"><a href="{{ path('admin_partner_index') }}">Partenaires</a></li>
   <li class="breadcrumb-item-to-delete active">{{ partner.name }}</li>
{% endblock %}
{% block breadcrumbButtons %}
   {{ include('admin/partner/_delete_form.html.twig', {isIcon: false}) }}
{% endblock %}

{% block body %}
   <div class="row">
      <div class="col-12 col-xl-6">
         <div class="card">
            <div class="card-header">
               Informations générales
               <div class="card-header-options">
               </div>
            </div>
            <div class="card-body">
               <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover">
                     <thead>
                        <tr>
                           <th class="min pr40">Intitulé</th>
                           <th>Réponse</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td class="bold">Nom</td>
                           <td>{{ partner.name }}</td>
                        </tr>
                        <tr>
                           <td class="bold">Url</td>
                           <td>{{ partner.url }}</td>
                        </tr>
                        <tr>
                           <td class="bold">Actif</td>
                           <td>{{ partner.active|yesNo }}</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="card-footer">
               <a href="{{ path('admin_partner_edit', {token: partner.token}) }}" class="{{ HTML.btnUpdate }}">Modifier</a>
               <a href="{{ path('admin_partner_index') }}" class="{{ HTML.btnBack }}">Retour</a>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
